<tr>
    <td class="[+class+]" style="text-align:left">
        [+email+]
    </td>
    <td class="[+class+]" style="text-align:left">
        [+ip+]
    </td>
    <td class="[+class+]" style="text-align:left">
        [+user_agent+]
    </td>
    <td class="[+class+]" style="text-align:left">
        [+created_at+]
    </td>
    <td class="[+class+]">
        <a class="fulldel_action" href="<?=$tplClass->makeUrl('fullDelete');?>&docId=[+id+]" title="Удалить">
            <img src="media/style/<?=$manager_theme;?>/images/icons/delete.png">
        </a>
    </td>
</tr>