<table class="grid" cellpadding="1" cellspacing="1">
    <thead>
    <tr>
        <td class="gridHeader" style="width:400px">
            E-mail
        </td>
        <td class="gridHeader">
            IP
        </td>
        <td class="gridHeader">
            Браузер
        </td>
        <td class="gridHeader">
            Дата подписки
        </td>
        <td class="gridHeader" style="width:100px">
            Действие
        </td>
    </tr>
    </thead>
    <tbody>[+dl.wrap+]</tbody>
</table>