/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "DinText-light";
  src: url("../fonts/pfdintextcondpro-light.eot");
  src: url("../fonts/pfdintextcondpro-light.eot#iefix") format("embedded-opentype"), url("../fonts/pfdintextcondpro-light.woff") format("woff"), url("../fonts/pfdintextcondpro-light.ttf") format("truetype"), url("../fonts/pfdintextcondpro-light.svg") format("svg");
}

@font-face {
  font-family: "DinText-medium";
  src: url("../fonts/pfdintextcondpro-medium.eot");
  src: url("../fonts/pfdintextcondpro-medium.eot#iefix") format("embedded-opentype"), url("../fonts/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/pfdintextcondpro-medium.ttf") format("truetype"), url("../fonts/pfdintextcondpro-medium.svg") format("svg");
}

@font-face {
  font-family: "DinText-regular";
  src: url("../fonts/pfdintextcondpro-regular.eot");
  src: url("../fonts/pfdintextcondpro-regular.eot#iefix") format("embedded-opentype"), url("../fonts/pfdintextcondpro-regular.woff") format("woff"), url("../fonts/pfdintextcondpro-regular.ttf") format("truetype"), url("../fonts/pfdintextcondpro-regular.svg") format("svg");
}

/* ==========================================================================
   common
  ========================================================================== */
/* layout */
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.smooth, a, .btn, .brands-item__img img, .partners-item .partners-img, .vacancy-acc .acc-title:after, .adress-list li {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

html.popup-open {
  overflow: hidden;
}

body {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #425d6e;
  background: #fff;
  overflow-x: hidden;
}

.container {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.container-in {
  display: table-row;
  height: 100%;
}

.wrap {
  max-width: 980px;
  padding: 0 10px;
  margin: 0 auto;
}

#content {
  padding: 0 0 45px 0;
}

/* typography */
h1 {
  font-family: "DinText-medium";
  margin: 0 0 30px 0;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

p {
  margin: 0 0 15px 0;
  max-height: 99999px;
  position: relative;
}

a {
  text-decoration: none;
  color: #30a0e7;
}

a:active, a:focus, a:visited {
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.placeholder {
  color: #b9bec8;
}

::-webkit-input-placeholder {
  color: #b9bec8;
}

::-moz-placeholder {
  color: #b9bec8;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #b9bec8;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #b9bec8;
}

:focus::-webkit-input-placeholder {
  color: transparent !important;
}

:focus::-moz-placeholder {
  color: transparent !important;
}

:focus:-moz-placeholder {
  color: transparent !important;
}

:focus:-ms-input-placeholder {
  color: transparent !important;
}

textarea {
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid #cdcdcd;
  color: #425d6e;
  line-height: 1.4em;
}

.input-txt {
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid #cdcdcd;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  color: #425d6e;
}

.input-txt.error {
  border: 1px solid #e64e49;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #30a0e7;
}

input[type="file"] {
  color: #9b9b9b;
}

.btn {
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  text-align: center;
  border: none;
  color: #10102a;
  display: inline-block;
  background: #7bc7cc;
  font-size: 13px;
  width: 130px;
}

.btn:hover {
  background: #e64e49;
  color: #fff;
}

.btn:focus {
  outline: none;
}

.btn.btn-transparent {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  line-height: 30px;
}

.btn.btn-transparent:hover {
  background: #fff;
  color: #000;
}

.btn.btn-red {
  height: 50px;
  line-height: 50px;
  background: #e64e49;
  color: #fff;
  font-size: 17px;
  width: 185px;
}

.btn.btn-red:hover {
  background: #8db3cb;
}

.tel-link {
  cursor: default;
  color: #425d6e;
  text-decoration: none !important;
}

.red {
  color: #e64e49;
}

/* breadcrumbs */
.b-breadcrumbs {
  padding: 15px 0 20px;
  position: relative;
  z-index: 1;
}

.b-breadcrumbs a {
  color: #425d6e;
  text-decoration: underline;
}

.b-breadcrumbs a:hover {
  text-decoration: none;
}

.b-breadcrumbs span {
  color: #8aa1af;
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -ms-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  color: #666;
  padding-top: 3px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 0;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/* ==========================================================================
   pages
  ========================================================================== */
/* header */
header {
  background: #e4eef9;
  height: 125px;
  padding-top: 25px;
}

.b-logo {
  padding-left: 100px;
  margin-left: -10px;
  width: 380px;
  height: 65px;
  float: left;
  background: url(../images/logo-header.svg) no-repeat top left;
  background-size: 85px 62px;
}

.b-logo .company-name {
  display: block;
  background: url(../images/logo-name.svg) no-repeat top left;
  background-size: 267px 31px;
  width: 267px;
  height: 31px;
  text-indent: -99999px;
  margin-bottom: 5px;
}

.b-logo .logo-desc {
  font-size: 12px;
  line-height: 14px;
  display: block;
  color: #425d6e;
}

.b-header-right {
  float: right;
  padding-top: 4px;
}

.header-right__tel {
  float: left;
  height: 27px;
  padding-left: 22px;
  position: relative;
}

.header-right__tel:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  background: url(../images/sprite.png) no-repeat -91px -30px;
  width: 12px;
  height: 11px;
}

.header-right__tel .tel-link {
  line-height: 35px;
  display: inline-block;
  color: #2c2c2c;
  font-family: "DinText-light";
  font-size: 18px;
  letter-spacing: 0.08em;
}

.search-mob-toggle {
  display: none;
  width: 45px;
  height: 112px;
  position: absolute;
  top: 0;
  right: 60px;
  cursor: pointer;
}

.search-mob-toggle span {
  display: block;
  background: url(../images/sprite.png) no-repeat -65px -192px;
  border-right: 1px solid #c5cfd6;
  height: 30px;
  width: 33px;
  position: absolute;
  right: 0;
  top: 18px;
}

.search-mob-toggle.open-s-m {
  background: #4e6b8a;
}

.search-mob-toggle.open-s-m span {
  border-right: 1px solid transparent;
  background-position: -65px -160px;
}

.header-right__search {
  margin-left: 203px;
}

.header-right__search h3 {
  display: none;
  color: #fff;
  font-size: 20px;
  margin: 0 0 17px 0;
}

.header-right__search .search-form {
  width: 100%;
  position: relative;
}

.header-right__search .search-form .input-txt {
  width: 100%;
  background: transparent;
  border: 1px solid #c0d5eb;
  height: 28px;
  line-height: 28px;
}

.header-right__search .search-form .input-txt:focus {
  border: 1px solid #8db3cb;
}

.header-right__search .search-form .btn-search {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-indent: -9999px;
  top: 0;
  right: 0;
  background: #8db3cb;
  padding: 0;
}

.header-right__search .search-form .btn-search:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  background: url(../images/sprite.png) no-repeat -66px -163px;
  width: 17px;
  height: 17px;
}

.header-right__search .search-form .btn-search:hover {
  background-color: #e64e49;
}

/* mainmenu */
.mainmenu-mob-toggle {
  display: none;
  width: 25px;
  position: absolute;
  top: 32px;
  right: 15px;
  background-color: #e4eef9;
  height: 30px;
  cursor: pointer;
}

.mainmenu-mob-toggle:before, .mainmenu-mob-toggle:after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 4px;
  width: 25px;
  content: '';
  background: #2d3c48;
}

.mainmenu-mob-toggle:after {
  top: 10px;
  background: #e4eef9;
  border-top: 4px solid #2d3c48;
  border-bottom: 4px solid #2d3c48;
  height: 14px;
}

.mainmenu {
  border-top: 1px solid #aec3d9;
  margin-top: 10px;
}

.close-menu {
  display: none;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  background: url(../images/close.png) no-repeat;
  background-size: 22px 22px;
}

.mainmenu__list > li {
  display: inline-block;
  padding-left: 20px;
}

.mainmenu__list > li:first-child {
  padding-left: 0;
}

.mainmenu__list > li > a {
  color: #293246;
  text-transform: uppercase;
  display: block;
  padding: 10px 0;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}

.mainmenu__list > li > a:hover {
  color: #e64e49;
}

.mainmenu__list > li.has-child > a {
  padding-right: 14px;
  position: relative;
}

.mainmenu__list > li.has-child > a:after {
  content: "";
  position: absolute;
  top: 17px;
  right: 0;
  background: url(../images/sprite.png) no-repeat -94px -54px;
  width: 8px;
  height: 5px;
}

.mainmenu__list > li.has-child:hover > a {
  color: #e64e49;
}

.mainmenu__list > li.current > a {
  color: #e64e49;
  border-bottom: 3px solid #e64e49;
}

.mainmenu-dd {
  display: none;
  position: absolute;
  padding-top: 30px;
  width: 100%;
  left: 0;
  top: 95px;
  z-index: 10;
}

.mainmenu-dd__content {
  margin: 0 auto;
  background: #e64e49;
  padding: 25px 0 45px 0;
}

.mainmenu-dd__content .mainmenu-dd__childmenu-title {
  color: #fff;
  font-size: 25px;
  margin-bottom: 15px;
}

.mainmenu-dd__content .mainmenu-dd__childmenu {
  float: left;
  padding-left: 40px;
  border-left: 1px solid #dc7372;
}

.mainmenu-dd__content .mainmenu-dd__childmenu.cat {
  padding-left: 0;
  border: none;
  width: 55%;
}

.mainmenu-dd__content .mainmenu-dd__childmenu ul {
  overflow: hidden;
}

.mainmenu-dd__content .mainmenu-dd__childmenu li a {
  color: #fff;
  display: block;
  padding: 4px 0;
}

.mainmenu-dd__content .mainmenu-dd__childmenu li a:hover {
  text-decoration: underline;
}

.mainmenu-dd__content .mainmenu-dd__childmenu li.current a {
  text-decoration: underline;
}

.mainmenu-dd__content .mainmenu-dd__childmenu .column {
  float: left;
  width: 50%;
  padding-right: 30px;
}

/* footer */
footer {
  background: #f2f2f2 url(../images/footer-bg.jpg) top center no-repeat;
  background-size: auto 100%;
  padding: 30px 0 15px 0;
  border-bottom: 3px solid #e64e49;
  font-size: 12px;
}

footer a {
  text-decoration: underline;
}

footer a:hover {
  text-decoration: none;
}

.b-footer-left {
  float: left;
}

.b-footer-right {
  float: right;
  overflow: hidden;
}

.footer-logo {
  padding-left: 100px;
  width: 380px;
  height: 65px;
  margin-bottom: 15px;
  background: url(../images/logo-footer.svg) no-repeat top left;
  background-size: 85px 62px;
}

.footer-logo .company-name {
  display: block;
  background: url(../images/logo-name-footer.svg) no-repeat top left;
  background-size: 267px 31px;
  width: 267px;
  height: 31px;
  text-indent: -99999px;
  margin-bottom: 5px;
}

.footer-logo .logo-desc {
  font-size: 12px;
  line-height: 14px;
  display: block;
  color: #425d6e;
}

.footer-copyright {
  padding: 0 0 0 100px;
  color: #1a1a1a;
}

/* ==========================================================================
   mainpage
  ========================================================================== */
.mainpage-dark {
  padding: 20px 0 0 0;
  background-color: #4e6b8a;
}

.mainpage-light {
  padding: 0 0 25px 0;
  background-color: #7792ac;
}

/* slider */
.b-topslider {
  position: relative;
}

.topslider-pager {
  position: absolute;
  right: 30px;
  top: 50%;
  z-index: 3;
}

.topslider-pager .bx-pager-link {
  border-radius: 50%;
  background: #fff;
  width: 13px;
  height: 13px;
  display: block;
  margin: 20px 0;
  text-indent: -99999px;
}

.topslider-pager .bx-pager-link.active {
  background: transparent;
  box-shadow: white 0px 0 0 3px;
}

.topslider-nav a {
  position: absolute;
  right: 20px;
  background: url(../images/sprite.png) no-repeat;
  display: block;
  width: 35px;
  height: 30px;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 3;
  text-indent: -9999px;
}

.topslider-nav a.bx-next {
  top: 20px;
  background-position: -83px -68px;
}

.topslider-nav a.bx-prev {
  bottom: 20px;
  background-position: -83px -95px;
}

.topslider-nav a:hover {
  border: 1px solid #fff;
}

.topslider-item {
  display: block;
  position: relative;
}

.topslider-item img {
  display: block;
  max-width: 100%;
  min-height: 100%;
}

.topslider-item:hover .topslider-item__more {
  text-decoration: underline;
}

.topslider-item__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 38px;
  font-family: "DinText-medium";
  letter-spacing: 0.05em;
  margin-right: 60px;
}

.topslider-item__more {
  font-size: 20px;
  font-family: "DinText-light";
  color: #fff;
  position: relative;
  padding-right: 30px;
  padding-left: 2px;
}

.topslider-item__more:after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 0;
  display: block;
  background: url(../images/sprite.png) no-repeat -58px -118px;
}

.topslider-item__text {
  position: absolute;
  bottom: 45px;
  left: 25px;
}

/* blocks */
.row-wrap--table {
  display: table;
  width: 100%;
}

.b-mainpage-news {
  width: 35%;
  color: #fff;
  display: table-cell;
  position: relative;
  padding: 25px 25px 60px 10px;
}

.b-mainpage-news a {
  color: #fff;
}

.b-mainpage-news h3 {
  font-family: "DinText-regular";
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0 0 15px 0;
}

.newslider-item:hover .newslider-item__title {
  text-decoration: underline;
}

.newslider-item__date {
  color: #d3e2f0;
  display: block;
  margin-bottom: 8px;
}

.newslider-item__title {
  font-size: 16px;
}

.newslider-item__teaser {
  font-size: 13px;
}

.newslider-nav a {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 60px;
  height: 30px;
  border: 1px solid #7bc7cc;
  cursor: pointer;
  text-indent: -9999px;
}

.newslider-nav a:after {
  content: "";
  width: 6px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  display: block;
  background: url(../images/sprite.png) no-repeat;
}

.newslider-nav a.bx-prev {
  left: 10px;
}

.newslider-nav a.bx-prev:after {
  background-position: -138px -3px;
  left: 13px;
}

.newslider-nav a.bx-next {
  left: 69px;
}

.newslider-nav a.bx-next:after {
  background-position: -153px -3px;
  right: 13px;
}

.newslider-nav a:hover {
  border: 1px solid #fff;
  z-index: 3;
  background: #e64e49;
}

.b-mainpage-about {
  width: 65%;
  background: #fff;
  display: table-cell;
  position: relative;
  padding: 25px 30px 20px 30px;
  color: #425d6e;
  font-size: 13px;
}

.b-mainpage-about h3 {
  font-family: "DinText-regular";
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0 0 15px 0;
  color: #10282d;
}

.b-mainpage-about blockquote {
  font-size: 18px;
  color: #314145;
  letter-spacing: 0.02em;
  padding: 0 25px;
  margin: 15px 0;
  position: relative;
}

.b-mainpage-about blockquote:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 10px;
  background: url(../images/quotes.png) 0 0 no-repeat;
}

.b-mainpage-about blockquote:after {
  content: "";
  position: absolute;
  width: 13px;
  height: 10px;
  background: url(../images/quotes.png) -15px 0 no-repeat;
  bottom: 5px;
  right: 0;
}

.b-mainpage-about:hover .mainpage-about__more {
  text-decoration: none;
}

.b-mainpage-about .mainpage-about__more {
  text-decoration: underline;
}

.mainpage-cols {
  margin: 0 -1px;
}

.mainpage-col-wrap {
  padding: 1px 1px 0;
  width: 50%;
  float: left;
}

.mainpage-col-wrap:first-child .mainpage-col {
  margin-right: -1px;
}

.mainpage-col {
  color: #fff;
  height: 235px;
  padding: 35px 25px 25px 20px;
  position: relative;
  display: block;
}

.mainpage-col .btn {
  position: absolute;
  bottom: 25px;
  left: 20px;
}

.mainpage-col h3 {
  font-family: "DinText-medium";
  font-size: 28px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.mainpage-col.about {
  background: url(../images/col-about.jpg) no-repeat;
  background-size: cover;
}

.mainpage-col.about h3 {
  font-family: "DinText-regular";
  font-size: 24px;
  line-height: 38px;
}

.mainpage-col.catalog {
  background: url(../images/col-cat.jpg) no-repeat;
  background-size: cover;
}

.mainpage-col.shop {
  background: url(../images/col-shop.jpg) no-repeat;
  background-size: cover;
}

.mainpage-col.partners {
  background: url(../images/col-partner.jpg) no-repeat;
  background-size: cover;
}

.mainpage-bottom {
  padding-top: 15px;
}

.b-mainpage-subs {
  background: #e64e49;
  color: #fff;
  width: 35%;
  float: left;
  height: 180px;
  padding: 20px 20px 10px 20px;
  margin-right: 2%;
}

.b-mainpage-subs h4 {
  font-size: 24px;
  font-family: "DinText-regular";
  font-weight: 400;
  margin: 0 0 20px 0;
  padding-left: 45px;
  min-height: 32px;
  background: url(../images/badge.png) no-repeat;
}

.b-mainpage-subs .b-input {
  width: 100%;
  position: relative;
}

.b-mainpage-subs .b-input .input-txt {
  width: 100%;
  background: transparent;
  border: 1px solid #f7c8c7;
  height: 30px;
  line-height: 30px;
  color: #fff;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.b-mainpage-subs .b-input .input-txt:focus {
  border: 1px solid #fff;
}

.b-mainpage-subs .b-input .input-txt::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.b-mainpage-subs .b-input .input-txt::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}

.b-mainpage-subs .b-input .input-txt:-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}

.b-mainpage-subs .b-input .input-txt:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.b-mainpage-subs .b-input .btn-subs {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  background: transparent;
  border-left: 1px solid #f7c8c7;
  height: 30px;
  line-height: 30px;
  display: block;
  padding: 0;
}

.b-mainpage-subs .b-input .btn-subs:after {
  content: "";
  width: 6px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 11px;
  display: block;
  background: url(../images/sprite.png) -154px -3px no-repeat;
}

.b-mainpage-subs .b-input .btn-subs:hover {
  background: #fff;
}

.b-mainpage-subs .b-input .btn-subs:hover:after {
  background-position: -169px -3px;
}

.b-mainpage-subs .form-mess {
  margin-top: 7px;
  display: block;
}

.b-mainpage-work {
  background: #8db3cb;
  color: #fff;
  width: 63%;
  float: left;
  height: 180px;
  padding: 15px 15px 10px 10px;
}

.b-mainpage-work h3 {
  font-family: "DinText-medium";
  font-size: 28px;
  line-height: 28px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.b-mainpage-work .work-img {
  float: left;
  width: 145px;
  height: 100%;
  position: relative;
  background: url(../images/vacancy-bg.png) center 10px no-repeat;
}

.b-mainpage-work .work-wrap {
  margin-left: 155px;
}

.workslider-item:hover .workslider-item__more {
  text-decoration: none;
}

.workslider-item a {
  color: #fff;
}

.workslider-item .workslider-item__title {
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 7px;
}

.workslider-item .workslider-item__teaser {
  font-size: 13px;
}

.workslider-item .workslider-item__more {
  text-decoration: underline;
}

.workslider-nav {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}

.workslider-nav span {
  display: inline-block;
  vertical-align: top;
}

.workslider-nav .bx-pager {
  display: inline-block;
  padding: 0 3px;
  font-size: 28px;
  line-height: 28px;
  font-family: "DinText-light";
}

.workslider-nav .bx-prev {
  display: block;
  width: 12px;
  height: 28px;
  text-indent: -9999px;
  background: url(../images/sprite.png) -136px 4px no-repeat;
}

.workslider-nav .bx-prev:hover {
  opacity: 0.8;
}

.workslider-nav .bx-next {
  display: block;
  width: 12px;
  height: 28px;
  text-indent: -9999px;
  background: url(../images/sprite.png) -150px 4px no-repeat;
}

.workslider-nav .bx-next:hover {
  opacity: 0.8;
}

/* ==========================================================================
   catalog
  ========================================================================== */
.catalog-menu {
  text-align: center;
  padding: 30px 0 50px;
}

.catalog-menu li {
  display: inline-block;
  text-align: center;
}

.catalog-menu li a {
  text-transform: uppercase;
  color: #8ea5b5;
  font-family: "DinText-light";
  display: block;
  width: 170px;
  border: 1px solid #8eb3ca;
  font-size: 30px;
  background: #f2f7fc;
  padding: 3px 0;
}

.catalog-menu li a:hover {
  color: #e64e49;
}

.catalog-menu li.current a {
  color: #fff;
  background: #e64e49 !important;
  border: 1px solid #e64e49;
}

/* brands */
.brands-container {
  overflow: hidden;
}

.brands-item {
  float: left;
  width: 25%;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 20px;
}

.brands-item a:hover .brands-item__more {
  text-decoration: none;
}

.brands-item a:hover .brands-item__img img {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  -webkit-filter: grayscale(0%);
}

.brands-item__img {
  height: 85px;
  line-height: 85px;
}

.brands-item__img img {
  display: inline-block;
  max-width: 85%;
  max-height: 90%;
  vertical-align: middle;
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.brands-item__title {
  color: #121834;
  margin-bottom: 5px;
}

.brands-item__more {
  color: #0a4cc4;
  text-decoration: underline;
  font-size: 13px;
}

/* cats */
.categories {
  background: #4e6b8a;
}

.categories .catalog-menu li a {
  color: #fff;
  background: #98abc0;
}

.categories .b-breadcrumbs {
  color: #fff;
}

.categories .b-breadcrumbs a {
  color: #fff;
}

.catalog-item {
  float: left;
  width: 25%;
  text-align: center;
  padding: 0 5px;
  margin-bottom: 50px;
}

.catalog-item a:hover .catalog-item__title {
  text-decoration: underline;
}

.catalog-item__title {
  color: #fff;
}

.catalog-item__img {
  margin-bottom: 10px;
}

.catalog-item__img img {
  width: 100%;
  display: block;
}

/* cat */
.cat-info {
  margin-bottom: 30px;
  position: relative;
}

.cat-info .cat-img {
  width: 100%;
  display: block;
}

.cat-info .cat-title {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #1e344b;
}

.cat-desc {
  margin-top: 30px;
}

.cat-desc h2 {
  text-transform: uppercase;
  margin: 0 0 15px 0;
  font-family: "DinText-light";
  font-size: 28px;
  font-weight: 400;
}

/* brand */
.brand-info {
  background: #8eb3ca url(../images/brand-bg.png) no-repeat top right;
  color: #fff;
  padding: 40px 30px;
  margin: 0 0 20px 0;
}

.brand-info__img {
  width: 200px;
  height: 140px;
  line-height: 140px;
  background: #fff;
  text-align: center;
  float: left;
}

.brand-info__img img {
  max-width: 80%;
  max-height: 90%;
  display: inline-block;
  vertical-align: middle;
}

.brand-desc {
  margin-left: 220px;
  line-height: 22px;
}

/* products */
.prod-container {
  overflow: hidden;
}

.prod-row {
  margin: 0 -20px;
}

.prod-item {
  float: left;
  width: 33.333%;
  padding: 0 20px;
  margin-bottom: 30px;
  color: #425d6e;
}

.prod-item:hover .prod-item__more {
  text-decoration: none;
}

.prod-item__img {
  text-align: center;
  line-height: 180px;
}

.prod-item__img img {
  max-width: 95%;
  vertical-align: middle;
}

.prod-item__title {
  font-size: 20px;
  color: #425d6e;
  margin-bottom: 5px;
}

.prod-item__teaser {
  line-height: 22px;
  font-size: 13px;
  margin-bottom: 5px;
}

.prod-item__more {
  text-decoration: underline;
  color: #0a4cc4;
  display: inline-block;
}

/* pagination */
.pagination-list {
  text-align: center;
  margin: 10px 0;
}

.pagination-list li {
  display: inline-block;
  font-size: 20px;
  font-family: "DinText-regular";
  color: #425d6e;
  margin: 0 2px;
}

.pagination-list li .page {
  display: block;
  padding: 0 4px;
}

.pagination-list li a.page {
  color: #425d6e;
}

.pagination-list li a.page:hover {
  color: #e64e49;
}

.pagination-list li span.page {
  color: #a8a8a8;
}

.pagination-list li .page-arrow {
  background: url(../images/sprite.png) no-repeat;
  width: 21px;
  height: 20px;
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.pagination-list li .page-arrow.page-back {
  background-position: -124px -52px;
}

.pagination-list li .page-arrow.page-back:hover {
  background-position: -124px -75px;
}

.pagination-list li .page-arrow.page-next {
  background-position: -160px -52px;
}

.pagination-list li .page-arrow.page-next:hover {
  background-position: -160px -75px;
}

/* ==========================================================================
   product
  ========================================================================== */
.product-page {
  background: #4e6b8a url(../images/product-bg.png) top right no-repeat;
}

.product-page .b-breadcrumbs {
  color: #fff;
}

.product-page .b-breadcrumbs a {
  color: #fff;
}

.product-page h1 {
  color: #fff;
  font-size: 24px;
  font-family: "DinText-regular";
}

.product-page #content {
  padding: 0;
}

.product-box {
  width: 50%;
  float: left;
  background: #8db3cb;
  color: #fff;
}

.product-box.product-box--left {
  background: #fff;
}

.product-box.product-box--left .product-box__inside {
  float: right;
  color: #425d6e;
}

.product-box.product-box--left .product-box__inside h3 {
  color: #4e6b8a;
}

.product-box.product-box--left .product-box__inside .product-desc {
  padding: 30px 50px 55px 0;
}

.product-box h3 {
  margin: 0 0 15px 0;
  font-size: 26px;
  text-transform: uppercase;
  font-family: "DinText-regular";
}

.product-box .product-desc {
  padding: 30px 0 55px 50px;
}

.product-box .product-desc p {
  line-height: 22px;
}

.product-images {
  padding: 15px 0 40px 0;
  display: table;
  width: 100%;
}

.product-thumbs {
  width: 120px;
  display: table-cell;
  vertical-align: top;
  position: relative;
  padding: 15px 20px 15px 0;
}

.product-thumbs .bx-controls-direction a {
  position: absolute;
  z-index: 3;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  background: url(../images/sprite.png) no-repeat;
}

.product-thumbs .bx-controls-direction a.bx-prev {
  top: -15px;
  background-position: -128px -127px;
}

.product-thumbs .bx-controls-direction a.bx-next {
  bottom: -15px;
  top: auto;
  background-position: -128px -174px;
}

.product-bigimage {
  display: table-cell;
  background: #fff;
  vertical-align: middle;
  text-align: center;
  padding: 15px 0;
}

.product-bigimage img {
  display: none;
  max-width: 100%;
  max-height: 90%;
}

.thumbs-link {
  height: 100px;
  line-height: 100px;
  background: #fff;
  border: 3px solid #fff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.45) 0 0 11px;
}

.thumbs-link.select {
  border: 3px solid #8eb3ca;
}

.thumbs-link img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

/* ==========================================================================
   search
  ========================================================================== */
.b-search-res .search-form {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}

.b-search-res .search-form .input-txt {
  width: 100%;
  background: transparent;
  border: 1px solid #c0d5eb;
}

.b-search-res .search-form .input-txt:focus {
  border: 1px solid #8db3cb;
}

.b-search-res .search-form .btn-search {
  position: absolute;
  display: block;
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-indent: -9999px;
  top: 0;
  right: 0;
  background: #8db3cb;
  padding: 0;
}

.b-search-res .search-form .btn-search:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 11px;
  background: url(../images/sprite.png) no-repeat -66px -163px;
  width: 17px;
  height: 17px;
}

.b-search-res .search-form .btn-search:hover {
  background-color: #e64e49;
}

/* ==========================================================================
   partners
  ========================================================================== */
.partners-page #content {
  margin-top: -53px;
  padding: 0;
}

.partners-page .b-content {
  display: table;
  width: 100%;
}

.partners-page .b-breadcrumbs {
  color: #fff;
}

.partners-page .b-breadcrumbs a {
  color: #fff;
}

.partners-info {
  display: table-cell;
  width: 50%;
  background: #4e6b8a url(../images/partners-bg.png) no-repeat top right;
  color: #fff;
  padding: 50px 0 40px 0;
  overflow: hidden;
}

.partners-info__inside {
  float: right;
}

.partners-info__inside p {
  padding-right: 25px;
}

.partners-list {
  display: table-cell;
  width: 50%;
  padding: 10px 0 20px 10px;
}

.partners-item {
  float: left;
  width: 50%;
  padding: 10px;
}

.partners-item .partners-img {
  text-align: center;
  height: 95px;
  line-height: 95px;
}

.partners-item .partners-img img {
  display: inline-block;
  vertical-align: middle;
  max-width: 75%;
  max-height: 80%;
}

.partners-item a:hover .partners-img {
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
}

/* ==========================================================================
   tabs
  ========================================================================== */
#content.tabs-wrap {
  margin-top: -53px;
  padding: 0;
}

#content.tabs-wrap .wrap {
  position: relative;
}

.sub-menu {
  position: absolute;
  z-index: 3;
  overflow: hidden;
  display: block;
  top: 75px;
  right: 25px;
}

.sub-menu li {
  float: left;
  text-align: center;
  background: #4e6b8a;
  height: 52px;
  line-height: 52px;
}

.sub-menu li a {
  display: block;
  color: #fff;
  font-size: 17px;
  line-height: 52px;
  padding: 0 40px;
  position: relative;
  z-index: 3;
}

.sub-menu li a:after {
  content: "";
  display: block;
  border-left: 1px solid #93a2b2;
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 0;
}

.sub-menu li:first-child a:after {
  display: none;
}

.sub-menu li.active a {
  background: #e64e49;
  color: #fff;
}

.sub-menu li.active a:after {
  display: none;
}

.sub-menu li.active + li a:after {
  display: none;
}

#slider-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #e64e49;
  z-index: 2;
}

.tab {
  position: relative;
  display: none;
}

.tab .page-title {
  position: absolute;
  top: 75px;
  padding-left: 20px;
}

.tab.tab-open {
  display: block;
}

.tab__imgbg {
  min-width: 100%;
  display: block;
  min-height: 220px;
}

#content.tabs-wrap .wrap.tab-title {
  position: static;
}

/* company */
.company-row {
  display: table;
  width: 100%;
}

.company-box {
  display: table-cell;
  vertical-align: top;
  width: 50%;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  color: #fff;
  padding: 25px 15px 20px 15px;
}

.company-box.company-box--left .company-box__inside {
  float: right;
}

.company-box.company-box--right {
  padding-left: 0;
}

.company-box.company-box--white {
  color: #425d6e;
}

.company-box.company-box--red {
  background: #e64e49 url(../images/reg-bg.png) no-repeat -75px -50px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-family: "DinText-regular";
  vertical-align: middle;
}

.company-box.company-box--red .company-box__inside p {
  padding-left: 20px;
}

.company-box.company-box--db {
  background: #5f7a95;
}

.company-box.company-box--db h4,
.company-box.company-box--db p {
  padding-left: 60px;
}

.company-box.company-box--lb {
  background: #80a9c3;
}

.company-box.company-box--lb h4,
.company-box.company-box--lb p {
  padding-left: 60px;
}

.company-box__inside {
  position: relative;
}

.company-box__inside h4 {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-family: "DinText-regular";
  font-size: 22px;
  font-weight: 400;
}

.icon {
  position: absolute;
  top: -2px;
  left: 0;
  width: 50px;
  height: 50px;
  background: url(../images/sprite.png) no-repeat;
}

.icon.icon-profi {
  background-position: 0 0;
}

.icon.icon-time {
  background-position: -58px -240px;
}

.icon.icon-flex {
  background-position: 0 -65px;
}

.icon.icon-dobro {
  background-position: 0 -125px;
}

.icon.icon-focus {
  background-position: 0 -185px;
}

.icon.icon-client {
  background-position: 0 -240px;
}

/* news */
.b-news {
  background: #8db3cb;
  padding: 35px 0 25px 0;
  overflow: hidden;
}

.b-news .pagination-list li a.page {
  color: #fff;
}

.b-news .pagination-list li span.page {
  color: #e64e49;
}

.b-news .pagination-list li .page-arrow {
  background: url(../images/sprite.png) no-repeat;
}

.b-news .pagination-list li .page-arrow.page-back {
  background-position: -124px -100px;
}

.b-news .pagination-list li .page-arrow.page-back:hover {
  background-position: -124px -75px;
}

.b-news .pagination-list li .page-arrow.page-next {
  background-position: -160px -100px;
}

.b-news .pagination-list li .page-arrow.page-next:hover {
  background-position: -160px -75px;
}

.news-list {
  margin: 0 -7px;
}

.news-col {
  float: left;
  width: 25%;
  padding: 0 7px;
  margin-bottom: 30px;
}

.news-item {
  background: #fff;
  display: block;
  position: relative;
  color: #191919;
  height: 300px;
}

.news-item:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 20px;
}

.news-item:hover .news-item__date:after {
  background-position: -59px -54px;
}

.news-item:hover .news-item__title {
  text-decoration: underline;
}

.news-item__img img {
  width: 100%;
  display: block;
}

.news-item__text {
  padding: 12px 20px 45px;
  position: relative;
}

.news-item__title {
  font-size: 14px;
  line-height: 23px;
  font-weight: 700;
  margin-bottom: 10px;
}

.news-item__teaser {
  font-size: 13px;
}

.news-item__date {
  position: absolute;
  bottom: 18px;
  padding: 0 15px 0 20px;
  left: 0;
  margin: 0;
  color: #a4a4a4;
  font-size: 12px;
  width: 100%;
}

.news-item__date:after {
  content: "";
  background: url(../images/sprite.png) -59px -85px no-repeat;
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  right: 15px;
  bottom: -3px;
}

/* vacancy */
#vacancy .company-box {
  vertical-align: middle;
  text-transform: none;
  font-family: Arial, sans-serif;
}

#vacancy .company-box ul {
  padding-left: 40px;
  list-style: disc;
  font-size: 14px;
  line-height: 1.3em;
}

#vacancy .company-box ul li {
  margin-bottom: 6px;
}

#vacancy .company-box.company-box--red {
  font-size: 17px;
}

#vacancy .tab__imgbg {
  float: right;
}

.company-box.company-box--b {
  background: #7b99ac;
  font-size: 19px;
  line-height: 35px;
}

.company-box.company-box--b h4,
.company-box.company-box--b p {
  padding-left: 60px;
}

.b-vacancy {
  padding: 30px 0 60px 0;
}

.b-vacancy h2 {
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: #7b99ac;
  font-family: "DinText-regular";
  font-weight: 400;
}

.vacancy-acc .acc-title {
  border-top: 1px solid #8db3cb;
  border-bottom: 1px solid #8db3cb;
  font-weight: 700;
  font-size: 17px;
  color: #e64e49;
  padding: 10px 0;
  cursor: pointer;
  margin: -1px 0 0 0;
  position: relative;
}

.vacancy-acc .acc-title:after {
  content: "";
  background: url(../images/sprite.png) -95px -129px no-repeat;
  width: 15px;
  height: 9px;
  display: block;
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -5px;
}

.vacancy-acc .acc-title.open-acc:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.vacancy-acc .acc-content {
  padding: 20px 0 20px 0;
  display: none;
}

.vacancy-acc .acc-content h4 {
  color: #041e28;
  font-size: 14px;
  margin: 0 0 5px 0;
}

.vacancy-acc .acc-content p {
  padding-left: 20px;
  line-height: 22px;
}

.vacancy-acc .vacancy-col {
  width: 50%;
  float: left;
}

.vacancy-acc .vacancy-col--wide {
  margin-bottom: 10px;
}

.vacancy-acc .vacancy-col--wide ul {
  overflow: hidden;
}

.vacancy-acc .vacancy-col--wide ul li {
  line-height: 22px;
  padding-left: 20px;
}

.vacancy-acc .vacancy-col--wide ul .column {
  float: left;
  width: 50%;
}

/* ==========================================================================
   fullnews
  ========================================================================== */
#content.fullnews {
  background: #7b99ac;
  margin-top: -53px;
  padding-top: 53px;
}

#content.fullnews h1 {
  color: #fff;
  font-family: "DinText-regular";
}

.rightcol {
  float: right;
  width: 230px;
}

.rightcol h3 {
  color: #fff;
  margin: 0 0 10px 0;
  font-size: 18px;
  font-family: "DinText-medium";
  text-align: right;
  letter-spacing: 0.02em;
}

.rightcol .news-item {
  margin-bottom: 30px;
  height: auto;
}

.fullnews-content {
  margin-right: 250px;
  color: #fff;
}

.fullnews-content .row {
  overflow: hidden;
  margin-bottom: 10px;
}

.fullnews-content .fullnews__back {
  float: left;
}

.fullnews-content .fullnews__back a {
  font-size: 13px;
  line-height: 22px;
  display: inline-block;
  color: #fff;
}

.fullnews-content .fullnews__back a:hover {
  text-decoration: underline;
}

.fullnews-content .fullnews__date {
  float: right;
  font-size: 18px;
  font-family: "DinText-medium";
  color: #fff;
}

.fullnews-content .fullnews__img {
  margin-bottom: 25px;
}

.fullnews-content .fullnews__img img {
  max-width: 100%;
  display: inline-block;
}

.fullnews-content .fullnews__back-bottom a {
  font-size: 13px;
  color: #fff;
}

.fullnews-content .fullnews__back-bottom a:hover {
  text-decoration: underline;
}

/* ==========================================================================
   contact
  ========================================================================== */
#map {
  width: 100%;
  height: 365px;
  overflow: hidden;
}

.b-content {
  position: relative;
}

.contact-form {
  float: left;
  width: 55%;
  padding: 20px 70px 20px 0;
  font-size: 13px;
}

.contact-form .input-txt {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.contact-form h3 {
  font-size: 27px;
  text-transform: uppercase;
  font-family: "DinText-regular";
  margin: 0 0 20px 0;
}

.contact-form .ps {
  color: #7e888f;
}

.contact-form .ps span {
  color: #8db3cb;
  font-size: 22px;
  position: relative;
  top: 6px;
  display: inline-block;
}

.contact-form textarea.input-txt {
  height: 150px;
  line-height: 1.4em;
}

.contact-form label {
  display: block;
  margin-bottom: 7px;
  color: #7e888f;
}

.contact-form label.required {
  position: relative;
}

.contact-form label.required:after {
  content: "*";
  position: absolute;
  top: 10px;
  right: -10px;
  color: #8db3cb;
  font-size: 22px;
  display: block;
}

.contact-form .b-input {
  margin-bottom: 30px;
  position: relative;
}

.contact-form .b-input .form-mess {
  display: block;
  margin-top: 5px;
}

.contact-form .b-input .form-mess.error {
  color: #e64e49;
}

.contact-form .b-input-row {
  margin: 0 -5px;
}

.contact-form .b-input-row .col {
  float: left;
  width: 50%;
  padding: 0 5px;
}

.contact-info {
  position: absolute;
  top: 0;
  left: 55%;
  width: 52%;
}

.adress-list li {
  display: block;
  background: #eaeff0;
  padding: 20px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.adress-list li.select {
  background: #e64e49;
  color: #fff;
}

.adress-list li.select .tel-link {
  color: #fff;
  font-weight: 700;
}

.adress-list li h4 {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 13px;
}

.adress-list li p {
  line-height: 22px;
  font-size: 13px;
}

.adress-list li .tel-link {
  color: #425d6e;
}

/* popup */
.wrap-popup {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  overflow-y: auto;
}

.wrap-popup .close {
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  top: 2px;
  right: 2px;
  border: 1px solid #fff;
  cursor: pointer;
}

.wrap-popup .main-container {
  width: 585px;
  max-width: 92%;
  margin: 150px auto 15px;
  position: relative;
  padding: 85px 15px 95px;
  text-align: center;
  background: #e64e49;
  color: #fff;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.55) 0 0 35px;
}

.wrap-popup .popup-content {
  font-size: 30px;
}

.wrap-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}

/* ==========================================================================
   responsive
  ========================================================================== */
@media (max-width: 1000px) {
  .sub-menu li.active a {
    background: #e64e49;
    color: #fff;
  }
  .contact-info {
    width: 45%;
    float: left;
    position: relative;
    top: auto;
    left: auto;
  }
  .contact #content {
    margin-right: -15px;
  }
  #page.contact,
  #page.search {
    padding-top: 20px;
  }
  .contact-form {
    padding-right: 40px;
  }
  .product-page #content {
    padding-top: 20px;
  }
  #content.fullnews {
    margin-top: 0;
    padding-top: 20px;
  }
  #content.tabs-wrap {
    margin-top: 0;
  }
  .catalog-item {
    width: 33.3333%;
  }
  .partners-page #content {
    margin-top: 0;
  }
  .partners-info,
  .partners-list {
    width: 50%;
  }
  .partners-info {
    padding: 20px 0 40px 0;
  }
  .cat-info {
    margin: 0 -10px 30px -10px;
  }
  .brand-info {
    margin: 0 -10px 20px;
  }
  .b-breadcrumbs {
    display: none;
  }
  header {
    height: 112px;
  }
  .b-logo {
    margin-left: 0;
  }
  .mainpage-dark,
  .mainpage-light {
    padding: 0;
  }
  .mainpage-dark .wrap,
  .mainpage-light .wrap {
    padding: 0;
  }
  .mainmenu {
    display: none;
    position: fixed;
    overflow-y: scroll;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #516e8c;
    margin: 0;
    border: none;
    padding: 25px 0;
  }
  .mainmenu__list > li {
    display: block;
    padding: 0 20px;
    margin-bottom: 5px;
  }
  .mainmenu__list > li:first-child {
    padding-left: 20px;
  }
  .mainmenu__list > li > a {
    color: #fff;
    display: inline-block;
    padding: 10px 0;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
  }
  .mainmenu__list > li > a:hover {
    color: #e64e49;
  }
  .mainmenu__list > li.has-child > a {
    padding-right: 0;
  }
  .mainmenu__list > li.has-child > a:after {
    display: none;
  }
  .mainmenu__list > li.has-child:hover > a {
    color: #fff;
  }
  .mainmenu__list > li.has-child:hover > a:hover {
    color: #e64e49;
  }
  .mainmenu__list > li.current > a {
    color: #fff;
    border-bottom: 2px solid #fff;
  }
  .close-menu {
    display: block;
  }
  .mainmenu-dd {
    position: relative;
    margin: 10px 0 10px -20px;
    padding-top: 0;
    width: auto;
    left: 0;
    top: 0;
  }
  .mainmenu-dd__content {
    padding: 10px 0 35px 20px;
  }
  .mainmenu-dd__content .mainmenu-dd__childmenu-title {
    font-size: 14px;
    text-transform: uppercase;
  }
  .mainmenu-mob-toggle {
    display: block;
  }
  .b-header-right {
    width: 45%;
  }
  .header-right__tel {
    display: none;
  }
  .header-right__search {
    margin: 0 70px 0 0;
  }
  .mainpage-col.about h3 br {
    display: none;
  }
  .b-mainpage-about,
  .b-mainpage-work {
    width: 60%;
  }
  .b-mainpage-news,
  .b-mainpage-subs {
    width: 40%;
  }
  .mainpage-about__teaser {
    display: none;
  }
  .b-mainpage-about .mainpage-about__more {
    margin-left: 25px;
  }
  .b-mainpage-subs {
    margin-right: 0;
  }
  .b-mainpage-work {
    padding: 15px 25px;
    position: relative;
  }
  .b-mainpage-work .work-img {
    width: 0;
    height: 0;
    position: static;
  }
  .b-mainpage-work .work-wrap {
    margin-left: 0;
  }
  .workslider-nav {
    position: absolute;
    bottom: auto;
    top: 14px;
    left: auto;
    right: 0;
    width: 120px;
    text-align: center;
  }
  .workslider-nav span {
    display: inline-block;
    vertical-align: top;
  }
  .workslider-nav .bx-pager {
    display: inline-block;
    font-size: 28px;
    line-height: 28px;
    font-family: "DinText-light";
  }
  .workslider-nav .bx-prev {
    display: block;
    width: 12px;
    height: 28px;
    text-indent: -9999px;
    background: url(../images/sprite.png) -136px 4px no-repeat;
  }
  .workslider-nav .bx-prev:hover {
    opacity: 0.8;
  }
  .workslider-nav .bx-next {
    display: block;
    width: 12px;
    height: 28px;
    text-indent: -9999px;
    background: url(../images/sprite.png) -150px 4px no-repeat;
  }
  .workslider-nav .bx-next:hover {
    opacity: 0.8;
  }
  .b-mainpage-subs h4 {
    font-size: 20px;
  }
  .mainpage-col-wrap {
    padding: 0;
  }
  .mainpage-cols {
    margin: 0;
  }
  .mainpage-bottom {
    padding: 0;
  }
  .b-footer-left {
    padding-left: 10px;
  }
  .mainmenu-dd__content .mainmenu-dd__childmenu.cat {
    width: 65%;
  }
}

@media (max-width: 950px) {
  .sub-menu li a {
    padding: 0 25px;
  }
}

@media (max-width: 900px) {
  .news-col {
    width: 33.3333%;
  }
}

@media (max-width: 750px) {
  .product-page h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .product-images {
    display: block;
  }
  .product-thumbs {
    display: none;
  }
  .product-bigimage {
    display: block;
    background: #fff;
    margin: 0 -15px;
  }
  .product-box {
    width: 100%;
  }
  .product-box.product-box--left .product-box__inside .product-desc {
    padding: 17px 15px;
    text-align: center;
  }
  .product-box .product-desc {
    padding: 17px 15px;
    text-align: center;
  }
  #content.fullnews h1 {
    text-align: center;
  }
  .rightcol {
    display: none;
  }
  .fullnews-content {
    margin-right: 0;
  }
  .brands-item,
  .catalog-item {
    width: 50%;
  }
  .partners-page .b-content {
    display: block;
  }
  .partners-info {
    display: block;
    width: 100%;
    padding: 20px 10px 40px;
  }
  .partners-list {
    display: block;
    width: 100%;
  }
  .prod-item {
    width: 50%;
  }
  .mainmenu-dd__content .mainmenu-dd__childmenu {
    float: left;
    width: 100%;
    padding-left: 0;
    border-left: none;
  }
  .mainmenu-dd__content .mainmenu-dd__childmenu.cat {
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
  }
  .mainmenu-dd__content .mainmenu-dd__childmenu li a {
    color: #fff;
    display: block;
    padding: 4px 0;
  }
  .mainmenu-dd__content .mainmenu-dd__childmenu li a:hover {
    text-decoration: underline;
  }
  .mainmenu-dd__content .mainmenu-dd__childmenu li.current a {
    text-decoration: underline;
  }
  .search-mob-toggle {
    display: block;
  }
  .header-right__search {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background: #4e6b8a;
    color: #fff;
    width: 100%;
    z-index: 10;
    padding: 25px 10px 35px;
  }
  .header-right__search h3 {
    display: block;
  }
  .header-right__search .search-form .input-txt {
    border: 1px solid #afbcc9;
    color: #fff;
    margin-bottom: 15px;
  }
  .header-right__search .search-form .btn-search {
    position: relative;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    width: 115px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-indent: 0;
    background: #e64e49;
    color: #fff;
  }
  .header-right__search .search-form .btn-search:after {
    display: none;
  }
  .header-right__search .search-form .btn-search:hover {
    background-color: #e64e49;
  }
  header {
    height: 70px;
    padding-top: 15px;
  }
  .mainmenu-mob-toggle {
    top: 22px;
  }
  .b-logo {
    padding-left: 55px;
    position: relative;
    top: 4px;
    width: 205px;
    height: 40px;
    background-size: 45px auto;
  }
  .b-logo .company-name {
    background: url(../images/logo-name.svg) no-repeat left 4px;
    background-size: 200px auto;
    width: 200px;
    height: 30px;
    padding-top: 5px;
  }
  .b-logo .logo-desc {
    display: none;
  }
  .row-wrap--table {
    display: block;
  }
  .b-mainpage-news {
    display: none;
  }
  .b-mainpage-about,
  .b-mainpage-subs,
  .b-mainpage-work {
    width: 100%;
    display: block;
    height: auto;
  }
  .b-footer-left,
  .b-footer-right {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 15px;
  }
  .mainpage-about__teaser {
    display: block;
  }
  .b-mainpage-about blockquote {
    display: none;
  }
  .b-mainpage-about .mainpage-about__more {
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  .contact #content {
    margin: 0 -15px;
  }
  .contact-form {
    padding: 20px 20px;
  }
  #page.contact h1 {
    text-align: center;
  }
  .contact-form,
  .contact-info {
    width: 100%;
  }
  .tab__imgbg {
    display: none;
  }
  .tab .page-title {
    position: relative;
    padding: 10px 0 0 0;
    top: auto;
    text-align: center;
    margin-bottom: 60px;
  }
  .sub-menu {
    position: absolute;
    width: 100%;
    top: 75px;
    right: 0;
    left: 0;
  }
  .sub-menu li {
    width: 33.333%;
  }
  .sub-menu li a {
    display: block;
    color: #fff;
    font-size: 17px;
    padding: 0;
    text-align: center;
    position: relative;
  }
  .brand-info {
    padding: 30px 10px;
  }
  .brand-info__img {
    float: none;
    margin: 0 auto 15px;
  }
  .brand-desc {
    margin-left: 0;
  }
  .mainpage-col-wrap {
    width: 100%;
  }
  .topslider-item__title {
    font-size: 22px;
    margin-right: 0;
  }
  .topslider-pager,
  .topslider-nav {
    display: none;
  }
}

@media (max-width: 650px) {
  .news-col {
    width: 50%;
  }
  .cat-info {
    margin-bottom: 30px;
    position: relative;
    padding-top: 20px;
  }
  .cat-info .cat-img {
    display: none;
  }
  .cat-info .cat-title {
    position: relative;
    text-align: center;
    top: 0;
    left: auto;
  }
}

@media (max-width: 600px) {
  .wrap-popup .popup-content {
    font-size: 20px;
  }
  .company-box.company-box--b {
    font-size: 16px;
    line-height: 25px;
  }
  .company-box.company-box--b p {
    padding-left: 0;
  }
  #vacancy .company-box ul {
    padding-left: 20px;
  }
  .company-row {
    display: block;
  }
  .company-box {
    width: 100%;
    display: block;
  }
  .company-box.company-box--right {
    padding-left: 15px;
  }
  .company-box.company-box--red .company-box__inside p {
    padding-left: 0;
  }
  .vacancy-acc .vacancy-col {
    width: 100%;
    margin-bottom: 10px;
  }
  .vacancy-acc .vacancy-col--wide ul .column {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .catalog-item {
    width: 100%;
    padding: 0 35px;
    margin-bottom: 30px;
  }
  .prod-item {
    width: 100%;
    text-align: center;
  }
  .prod-item__info {
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  .news-col {
    width: 100%;
    padding: 0 40px;
  }
  .news-item {
    height: auto;
  }
  .catalog-menu li a {
    width: 145px;
    font-size: 28px;
    line-height: 44px;
    padding: 0;
  }
  .brands-item {
    width: 100%;
  }
  .partners-item {
    width: 100%;
    padding: 10px 30px;
  }
  .topslider-item {
    height: 180px;
  }
  .topslider-item img {
    width: auto;
    height: 100%;
    max-width: 1000%;
  }
  .footer-logo {
    padding-left: 50px;
    width: 255px;
    height: 75px;
    background-size: 45px auto;
  }
  .footer-logo .company-name {
    background: url(../images/logo-name-footer.svg) no-repeat top left;
    background-size: 200px auto;
    width: 200px;
    height: 30px;
  }
  .footer-logo .logo-desc {
    padding-left: 4px;
  }
  .footer-logo .logo-desc br {
    display: none;
  }
  .footer-copyright {
    padding: 0 0 0 54px;
  }
  .topslider-item__text {
    bottom: 10%;
    left: 10px;
  }
  .b-mainpage-about {
    padding: 25px 10px 20px 10px;
  }
  .b-mainpage-work {
    padding: 15px 15px;
  }
  .b-mainpage-subs {
    padding: 20px 15px 10px 15px;
  }
  h1 {
    font-size: 30px;
  }
  .tab .page-title {
    font-size: 30px;
    padding-top: 20px;
  }
  .sub-menu {
    display: table;
    table-layout: fixed;
  }
  .sub-menu li {
    display: table-cell;
    float: none;
    width: auto;
  }
}

@media (max-width: 400px) {
  .mainpage-col {
    padding: 20px 20px 20px 20px;
  }
  .mainpage-col.about h3 {
    font-size: 22px;
    line-height: 34px;
  }
  .b-logo .company-name {
    background-size: 150px auto;
    width: 160px;
    margin-top: 3px;
  }
  .b-logo {
    margin-left: 10px;
  }
  .mainmenu-mob-toggle {
    right: 13px;
    width: 20px;
  }
  .search-mob-toggle {
    right: 45px;
  }
}

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .header-right__tel:before,
  .search-mob-toggle span,
  .header-right__search .search-form .btn-search:after,
  .mainmenu__list > li.has-child > a:after,
  .topslider-nav a,
  .topslider-item__more:after,
  .newslider-nav a:after,
  .b-mainpage-subs .b-input .btn-subs:after,
  .workslider-nav .bx-prev,
  .workslider-nav .bx-next,
  .pagination-list li .page-arrow,
  .product-thumbs .bx-controls-direction a,
  .b-search-res .search-form .btn-search:after,
  .icon,
  .b-news .pagination-list li .page-arrow,
  .news-item__date:after,
  .vacancy-acc .acc-title:after {
    background-image: url(../images/sprite@2x.png);
    background-size: 185px 306px;
  }
}
