<p>[(cfg_company_name)]<br>
[(cfg_company_address)]</p>
<p>Телефон: <a class="tel-link" href="tel:[(cfg_phone)]">[(cfg_phone)]</a></p>
<p><a href="mailto:[(cfg_to_email_1)]">[(cfg_to_email_1)]</a> <br>
по вопросам закупок и сотрудничества</p>
<p><a href="mailto:[(cfg_to_email_2)]">[(cfg_to_email_2)]</a><br>
по вопросам трудоустройства</p>