<div class="mainmenu-mob-toggle"></div>
<nav class="mainmenu">
	<span class="close-menu"></span>
	[!top_nav_menu!]
	<!-- <ul class="mainmenu__list">
		<li class="has-child"><a href="categories.html">Продукты</a>
		<div class="mainmenu-dd">
			<div class="mainmenu-dd__content">
				<div class="wrap clearfix">
					<div class="mainmenu-dd__childmenu cat">
						<div class="mainmenu-dd__childmenu-title">Категории</div>
						<ul>
							<li><a href="category-products.html">Акушерство и неонатология</a></li>
							<li><a href="brand-products.html">Анестезиология и реанимация</a></li>
							<li><a href="#">Гинекология</a></li>
							<li><a href="#">Лабораторное оборудование</a></li>
							<li><a href="#">Лучевая диагностика</a></li>
							<li><a href="#">Нейрохирургия</a></li>
							<li><a href="#">Операционные залы</a></li>
							<li class="current"><a href="#">Расходные материалы</a></li>
							<li><a href="#">Стерилизация и дезинфекция</a></li>
							<li><a href="#">Травматология</a></li>
							<li><a href="#">Ультразвуковая диагностика</a></li>
							<li><a href="#">Урология</a></li>
							<li><a href="#">Физиотерапия и реабилитация</a></li>
							<li><a href="#">Функциональная диагностика</a></li>
							<li><a href="#">Хирургия</a></li>
							<li><a href="#">Чистый воздух</a></li>
							<li><a href="#">Эндоскопия</a></li>
							<li><a href="#">Эндохирургия</a></li>
						</ul>
					</div>
					<div class="mainmenu-dd__childmenu brand">
						<div class="mainmenu-dd__childmenu-title">Бренды</div>
						<ul>
							<li><a href="#">Drager</a></li>
							<li><a href="#">Eleps</a></li>
							<li><a href="#">Ethicon Endo</a></li>
							<li><a href="#">Integra</a></li>
							<li><a href="#">Lohmann & Rauscher</a></li>
							<li><a href="#">Philips</a></li>
							<li><a href="#">Rush </a></li>
							<li><a href="#">Ангиолайн</a></li>
							<li><a href="#">НПП Монитор</a></li>
							<li><a href="#">Поток</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="current"><a href="partners.html">Партнёры</a></li>
	<li><a href="about.html">О нас</a></li>
	<li><a href="contact.html">Контакты</a></li>
	<li><a href="#">Интернет-магазин</a></li>
</ul> -->
</nav>