/* -------------------------[ Neutralize styles, fonts and viewport ]--- */
* html { overflow-x :hidden; overflow-y: auto;} /* for IE6 */
*+html { overflow-x :hidden; overflow-y: auto;} /* for IE7 */
html, body, form, fieldset,img {
	margin: 0;
	padding: 0;
}
img {
	border: none;
}
html {
	font-size: 100.01%;
	line-height: 1.5;
	font-family:  Arial, HelveticaNeue, "Helvetica Neue", Helvetica, "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
	color: #111;
}
body {
	font-size: 62.5%;
	font-size: 68.75%;
	font-size: 75%;
	height: 100%;
	color:#333333;
	background: #f7f7f7;
}
body#mainpane,
body.treeframebody {
	background-image :url(images/misc/mainbg.png);
	background-repeat:repeat-x;
}
a img {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {
	margin: 0 0 .5em;
	padding: 0;
	font-weight: normal;
}
li, dd, blockquote {
	margin: 0 0  0 1em;
}
	.rtl li, .rtl dd, .rtl blockquote {
		margin: 0 1em 0 0;
	}


.file-manager td {
	border-bottom: 1px solid #d5dfea;
}
.ab2 {
	padding-bottom: 20px;
}
/* -------------------------[ Miscellaneous conveniences ]--- */
.clearfix, .cls {
	clear: both;
	height: 0 !important;
	margin: 0;
	font-size: 1px;
	overflow: hidden;
}
.clear {
	clear: both;
}
.fail {
	color: #900;
	font-weight: bold;
}
.warning {
	color: #444444;
	font-weight: bold;
}
.success {
	color: #090;
	font-weight: bold;
}
.contentPad {
	height: 20px !important;
	clear: both;
}
.hide, .skip, .printonly {
	display: none;
}
.inline {
	display: inline;
}
/* -------------------------[ Headers and Paragraphs ]--- */
h1, h2, h3, h4, h5, h6, .subTitle {
	font-weight: normal;
}
h1 {
	font-size: 218%;
	font-size: 164%;
	line-height: 40px;
	margin-left: 10px;
	letter-spacing:1px;
}
	.rtl h1 {
		margin-right: 10px;
	}
h2 {
	font-size: 164%;
}
h3 {
	font-size: 145%;
}
h4 {
	font-size: 118%;
}
h5 {
	font-size: 100%;
	font-weight: bold;
}
h6 {
	font-size: 86%;
	font-weight: bold;
}
p.caption, p.comment {
	font-size: 86%;
	color: #888;
}
button {
	color: #821517;
	font-weight: bold;
	width: 112px;
	margin: 0 5px 0 0;
	cursor: pointer;
}
	.rtl button {
		margin: 0 0 0 5px;
	}
a, a:active, a:visited, a:link {
	color: #00577d;
	text-decoration: underline;
}
a:hover {
	color: #0f1e76;
}
hr {
	color: #777;
	background-color: #777;
	height: 1px;
	border: 0;
}
.split {
	background: #556476 url(images/misc/line.gif) repeat-x;
	height: 1px;
	font-size: 0;
	clear: both;
	padding: 0;
}
#previewIframe {
	width: 100%;
	height: 400px;
}
.messageRead {
	color: #333;
}
.messageUnread {
	color: #3CB371;
	font-weight: bold;
}
.right {
	font-weight: bold;
	color: #333;
	float: left;
	padding: 0 20px 20px;
}
	.rtl .right {
		float: right;
	}

/* -------------------------[ Topbar ]--- */
#topbar {
	margin: 0;
	color: #333;
	padding: 0 5px;
}
#topbar * {
	vertical-align: middle;
}
#topbar a,
#topbar a:link,
#topbar a:visited {
	font-weight: bold;
	color: #AAB1B9;
	text-decoration: none;
}
#topbar a:hover {
	color: #fff;
	text-decoration: underline;
}
#tocText {
	position: absolute;
	left: 3px;
	top: 50px;
	z-index: 1000;
}
	.rtl #tocText {
		right: 3px;
	}
.tocTextRTL {
	right: 3px;
}
#tocText,
#buildText,
#workText {
	font-weight: bold;
	line-height: 16px;
	margin: 0 15px;
	color: #FFF;
}
#tocText,
#buildText img,
#workText img {
	margin: 0 5px;
}
#statusbar {
	position: absolute;
	right: 0;
	top: 27px;
}
	.rtl #statusbar { 
		left: 0; 
	}
#supplementalNav {
	float: right;
	background: transparent;
	font-size: 12px;
	padding: 0 0 30px;
	margin: 0;
	color: #89939E;
}
	.rtl #supplementalNav {
		float: left;
	}
#supplementalNav * {
	vertical-align: bottom;
}
#supplementalNav a {
	padding: 0;
	margin: 0;
}
#msgCounter, #newMail {
	margin: 0;
	padding: 0;
}

/* -------------------------[ Forms ]--- */
tbody, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
}
form label {
	cursor: pointer;
}
form label input[type="radio"] {
margin:0;
}
fieldset {
	border: none;
}
input, select, textarea, option, optgroup, td {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}
	.rtl input,
	.rtl select,
	.rtl textarea,
	.rtl td {
		text-align: right;
	}

#ta, .tmplvars textarea {
}
form input[type=text],
form input[type=password],
form textarea {
	border: 1px solid #ddd;
	border-left-color: #c3c3c3;
	border-top-color: #acacac;
	padding: 3px 5px;
	background: #fff url(images/misc/input-bg.gif) repeat-x top left;
	vertical-align: baseline;
	border-radius : 3px;
	-moz-border-radius : 3px;
	-webkit-border-radius:3px;
}
form input[type=checkbox],form input[type=radio] {
    cursor:pointer;cursor:hand;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus,
form select:focus
{
	outline: none;
	background: #fff;
	border: 1px solid #73829a;
}
form input[type=text] {
	line-height:1;
}
	.rtl form input[type=text],
	.rtl form textarea {
		padding: 2px 2px 2px 0;
	}

input.checkbox,
input.radio,
input.submit,
input.button,
input[type="checkbox"],
input[type="radio"],
input[type="submit"],
input[type="button"] {
	height: auto !important;
	width: auto !important;
	vertical-align: middle;
}
select {
	border: 1px solid #c3c3c3 !important;
	border: 0;
	background: #fcfcfc;
}
.form {
	padding: 15px;
	border: solid 1px #ddd;
}
form input.hidden {
	display: none !important;
	position: absolute;
}
.form label,
.form input,
.form textarea {
	display: block;
	float: left;
	vertical-align: middle;
}
.form label {
	padding-right: 20px;
	text-align: right;
	width: 110px;
}
	.rtl .form label,
	.rtl .form input,
	.rtl .form textarea {
		float: right;
	}
	.rtl .form label {
		padding-left: 20px;
		text-align: left;
	}
form textarea {
	height: 85px;
	width: 310px;
	margin-top: 0;
	padding:5px;
	-webkit-box-sizing: border-box; /* Chrome, Safari */
	-moz-box-sizing: border-box;    /* Firefox */
	box-sizing: border-box;         /* IE8+, Opera */
}
.form legend {
	color: #04C;
	font-weight: bold;
	padding: 5px;
}
.form select {
	display: inline;
	float: left;
}
	.rtl .form select {
		float: right;
	}
.form br {
	clear: both;
}
input.submit {
	display: block !important;
	float: none !important;
	margin: 20px 0 0 140px !important;
}
	.rtl input.submit {
		margin: 20px 140px 0 0 !important;
	}
.form fieldset.list {
	margin: 6px 6px 3px 0;
}
	.rtl .form fieldset.list {
		border: 0;
		padding: 0 !important;
		margin: 6px 0 3px 6px;
	}
.form fieldset.list legend {
	display: none;
}
.form fieldset.list label,
.form fieldset.list input {
	padding: 0;
	margin: 0 0 3px;
	float: left;
	display: inline;
	border: 0;
	background: none;
	width: auto;
	height: auto;
}
	.rtl .form fieldset.list label,
	.rtl .form fieldset.list input {
		float: right;
	}
.form fieldset.list label {
	padding-left: 5px;
	text-align: left;
	width: auto;
}

/* -------------------------[ Misc stuff ]--- */
.sectionBody fieldset {
	border: 0;
	background: #fff;
	font-size: 12px;
	padding: 10px;
}
.sectionBody fieldset h3 {
	font-size: 14px;
	color: #789;
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 0;
}
.sectionHeader, .showHideVisible {
	margin: 0 10px;
	padding: 5px 3px 5px;
	font-weight: bold;
	color: #333;
	border: 1px solid #e3e3e3;
	border-bottom:none;
}
	.tab-page .sectionHeader {
		margin: 10px 10px 0;
	}
	.rtl .sectionHeader {
		direction: rtl;
		padding: 5px 18px 5px 3px;
	}
.sectionBody, .layerVisible {
	position: relative;
	display: none;
	background: #fff;
	border: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
	margin: 0 10px 10px;
	padding: 10px;
	display: block;
	background: #fff url(images/misc/tabareabg.gif) repeat-x top;
}
.tab-page .sectionBody {
	margin: 0 10px 10px;
}
.rtl .sectionBody, .layerVisible {
	direction: rtl;
	position: inherit;
}
.showHideVisible, .layerVisible {
	margin: 0 10px 4px;
}
.sectionHeader {
	padding: 5px 3px 5px 18px;
	background: #EFEFEF url(images/misc/fade.gif) repeat-x top;
	overflow:hidden;
	zoom:1;
	border-radius : 5px 5px 0 0;
	-moz-border-radius : 5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}
	.rtl .sectionHeader {
		direction: rtl;
		padding: 5px 18px 5px 3px;
	}
.comment {
	font-size: 12px;
	color: #333;
}
.inherited {
	font-style: italic;
}
thead, .fancyrow {
	color: #333;
	height: 18px !important;
	background-color: #E4E4E4;
}
thead td {
	color: #333;
	border-top: 1px solid #fff;
}
.fancyrow2 {
	height: 18px !important;
	background-color: #F0A62F;
	background-position: top;
	background-repeat: repeat-x;
	border-bottom: 1px solid #fff;
	color: #fff;
}
li {
	padding: 0;
	margin: 0;
	list-style: disc outside url(images/misc/li.gif);
}
ul {
	margin: 0 20px 0 20px;
}
	.rtl ul {
		margin: 0 10px 0 20px;
	}
.screen {
	border: 1px solid #ddd;
	text-align: center;
}
a img {
	border: 0;
}
.even {
	background: #D9E7C2;
}
.odd {
	background: #fff;
}
/* -------------------------[ end sortable table ]--- */
.disabledImage {
	width: 20px;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.disabledImage img {
	border: 0;
}
.editorCell {
	border-top: 1px solid #808080;
	text-align: left;
	vertical-align: baseline;
}
	.rtl .editorCell {
		text-align: right;
	}
.row1, .row2, .row3 {
	background-color: #fff;
	color: #333;
}
.row2 {
	background-color: #ece7dd;
}
.row3 {
	background-color: #F4F4F4;
}
.row3 td.warning {
	padding-left:25px;
}
.treeframebody {
	background-color: #f7f7f7;
}

#treeMenu * {
	vertical-align: middle;
}
#treeHolder {
	cursor: default;
	height: 100%;
	padding: 5px 10px 0 10px;
	border-top: 1px solid #fff;
	background: #f7f7f7;
}

#treeRoot {
    margin-left:-10px;
}

#treeRoot div img {
	margin: 0;
}
	.rtl #treeRoot div img {
		margin: 0;
	}
#floater {
	display: none;
	position: absolute;
	width: 200px;
	height: 50px;
	top: 25px;
	left: 4px;
	background: #fff;
	border-bottom: 1px solid #666;
	z-index: 500;
}
	.rtl #floater {
		right: 4px
	}
.rootNode, .treeNode, .treeNodeHover, .treeNodeSelected, .emptyNode {
	color: #333;
	padding: 2px;
	cursor: pointer;
	width: auto;
}
.treeNodeHover {
	background-color: #fff;
	border: 1px solid #c8c8d4;
	padding: 1px;
}
.treeNodeSelected {
	background-color: #fff;
	color: #333;
	border: 1px solid #c8c8d4;
	padding: 1px;
}
.treeNodeSelected
{
    font-weight:700;
}
.unpublishedNode,
.unpublished a {
	color: #b68282;
	font-style: italic;
}
.deletedNode {
	color: #A52A2A;
	text-decoration: line-through;
}
.publishedNode {
	color: #333;
}
.emptyNode {
	color: #aaa;
	cursor: default;
}
.notInMenuNode {
	color: #777;
	text-decoration: none;
}
.protectedNode {
	color: #aaa;
}

#treeSplitter {
	width: 10px;
	height: 100%;
	position: absolute;
	right: -10px;
}
	.rtl #treeSplitter {
		left: -10px;
	}
.disabledPlugin a {
	color: #aaa;
	text-decoration: line-through;
}
/* -------------------------[ grid style ]--- */
table.grid {
	width: 100%;
	background-color: #fff;
	border-collapse:collapse;
	margin-bottom:10px;
}
table.grid th, table.grid td {
	border:1px solid #ccc;
	padding:4px;
}
table.grid th, .gridHeader {
	color: #333;
	font-weight: bold;
	background-color: #d2d2d2;
	white-space:nowrap;
	text-align:left;
}
table.grid td.odd, .gridItem {
	background-color: #fff;
}
table.grid td.even, .gridAltItem {
	background-color: #eeeeee;
}
.gridRowIcon:hover {
	background-color: #f5f5dc;
}
.grid a {
	text-decoration: none;
}
.grid img {
	vertical-align: middle;
	padding-right: 4px;
}
/* -------------------------[ search bar ]--- */
.searchbar {
	width: 100%;
	border: 1px solid silver;
	background-color: #DBDBDB;
    margin-bottom:8px;
}
.searchtext {
	height: 18px;
	padding: 2px;
}
.searchbutton {
	width: 22px;
	padding: 5px;
	text-decoration: none;
	background: #fff;
	border: 1px solid #D1D8DF;
}
.searchbutton:hover {
	text-decoration: none;
	background: #fff;
	border: 1px solid #88939E;
}
.searchbutton img {
	vertical-align: middle;
	margin: 0;
	padding: 0
}
/* -------------------------[ home page main links ]--- */
a.hometblink, a.hometblink:active, a.hometblink:visited, a.hometblink:link, .hometblink {
	text-decoration: underline;
	color: #333;
	font-weight: bold;
}
a.hometblink:hover {
	text-decoration: underline;
	color: Gray;
}
.notice {
	width: 100%;
	padding: 5px;
	border: 1px solid #eee;
	background-color: #F4F4F4;
	color: #707070;
}
#preLoader {
	position: absolute;
	z-index: 50000;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
.preLoaderText {
	background-color: #fff;
	width: 300px;
	height: 150px;
	padding: 50px;
	border: 1px solid #999;
}
/* -------------------------[ contextmenu in editing modules ]--- */
.contextMenu {
	background: #fff;
	margin: 0;
	padding: 8px;
	border: 1px solid #039;
	border-color: #eaeaea #909090 #707070 #eaeaea;
	position: absolute;
	z-index: 10000;
	white-space: nowrap;
}
.cntxMnuItem {
	background-image: url(images/misc/_tx_.gif);
	cursor: pointer;
	color: #333;
	padding: 3px 16px 3px 2px;
}
	.rtl .cntxMnuItem,
	.rtl .cntxMnuItemDisabled {
		padding: 3px 2px 3px 16px;
	}
.cntxMnuItemDisabled {
	cursor: default;
	padding: 3px 16px 3px 2px;
	color: #787878;
}
.cntxMnuItemOver {
	cursor: pointer;
	color: #333;
	background: #e3e3e3;
	padding: 2px 15px 2px 1px;
	border: 1px solid #c0c0c0;
}
	.rtl .cntxMnuItemOver {
		padding: 2px 1px 2px 15px;
	}
.cntxMnuItem img, .cntxMnuItemOver img, .cntxMnuItemDisabled img {
	margin: 0 8px 0 0;
}
	.rtl .cntxMnuItem img,
	.rtl .cntxMnuItemOver img,
	.rtl .cntxMnuItemDisabled img {
		margin: 0 0 0 8px;
	}

.cntxMnuItem img, .cntxMnuItemDisabled img {
	opacity: .3;
	filter: alpha(opacity=30);
}
.cntxMnuSeparator {
	font-size: 0;
	height: 1px;
	background-color: silver;
	overflow: hidden;
	margin: 3px 1px 3px 28px;
}
	.rtl .cntxMnuSeparator {
		margin: 3px 28px 3px 1px;
	}

/* -------------------------[ Top Navbar of snap in top menu bar layout ]--- */
#topMenu {
	background: #e4e4e4 url(images/misc/menubg.png);
}
#Navcontainer {
	padding: 0 10px;
	color: #fff;
}
#nav {
	margin: 0;
	padding: 0;
	height: 25px;
	width: 100%;
	position: absolute;
	top: 18px;
	overflow: visible !important;
}
	.rtl #nav {
		right: 10px;
	}
#nav ul {
	display: none;
	height: 25px;
	position: relative;
	z-index: 500;
	margin: 0 0 0 -10px;
	padding: 0 0 0 20px;
}
	.rtl #nav ul {
		margin: 0 -10px 0 0;
	    padding: 0 20px 0 0;
	}
#nav li {
	list-style: none;
	background: #323c52 url(images/misc/tab.gif) 100% 100%;
	float: left;
	width: auto;
	margin: 0 3px 0 0;
	padding: 0;
}
	.rtl #nav li {
		float: right;
		margin: 0 0 0 3px;
	}
#nav li a {
	border-left: 1px solid #2c3d50;
	color: #919fae;
	height: 25px;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	line-height: 25px;
	overflow: hidden;
	padding: 0 25px;
	float: none !important;
	float: left;
	display: block;
}
#nav li ul li a {
	padding: 0 18px !important;
}
#nav li ul li a {
	background: #d4d4d4;
	float: left;
	width: auto;
}
	.rtl #nav li ul li a {
	    float: right;
	}

#nav a:hover {
	color: #fff;
}
#nav a:active {
	color: #fff;
}
#nav li.active {
	background: #758ca2 url(images/misc/tab.gif) 100% 0;
}
#nav li.active a {
	color: #fff;
	position: relative;
	z-index: 999999;
	border-bottom: 1px solid #657587;
	border-left: 1px solid #7e8b9a;
}
#nav li.active a:hover {
	cursor: pointer;
}
#nav li.active ul.subnav {
	display: block;
	position: absolute;
	top: 25px;
	width: 200%;
	left: 0;
	background: #657587;
	border-top: 1px solid #8B96A0;
	border-bottom: 1px solid #7b8c9f;
}
	#nav li.active ul.subnav {
	    right: 0;
	}
#nav li.active ul.subnav a {
	color: #fff;
	font-weight: normal;
	border-bottom: 1px solid #7b8c9f;
	background: #657587;
	cursor: pointer;
	border-left: none;
}
#nav li.active ul.subnav li {
	margin: 0;
}
#nav li.active ul.subnav a:hover {
	color: #fff;
	background-color: #5d6c7d;
	background-image:none;
}
#nav li.active ul.subnav a:active {
	color: #ccc;
}
#nav li.active ul.subnav,
#nav li.active ul.subnav a {
	background: #657587 url(images/misc/longbarbg.png) repeat-x top;
}

/* -------------------------[ Contextual Menu used in the Tree Menu ]--- */
#mx_contextmenu {
	position: absolute;
	height: auto;
	visibility: hidden;
	z-index: 10000;
	width: 165px;
	background-color: #fff;
	background-image:url(images/misc/tabareabg.gif);
	background-repeat:repeat-x;
	background-position:0 20px;
	margin: 0;
	padding-bottom:10px;
	border: 1px solid #ededed;
	border-right-color: #dcdcdc;
	border-bottom-color: #dcdcdc;
	overflow: hidden;
	line-height: 11px;
	box-shadow: 2px 2px 15px #eaeaea;
	-moz-box-shadow: 2px 2px 15px #eaeaea;
	-webkit-box-shadow: 2px 2px 20px #eaeaea;
}
#mx_contextmenu .menuLink {
	cursor: pointer;
	color: #222;
	padding: 3px 5px 3px 4px;
}
#mx_contextmenu .menuLink:hover {
	background: #DDE4EB;
	border: 1px solid #fdfdfd;
	border-bottom-color: #dcdcdc;
	color: #333;
}
#mx_contextmenu .menuLink:hover,
#mx_contextmenu .menuLinkDisabled {
	cursor: pointer;
	padding: 2px 4px 2px 3px;
}
#mx_contextmenu .menuLinkDisabled {
	cursor: default;
	color: #787878;
}
#mx_contextmenu .menuLink img,
#mx_contextmenu .menuLink:hover img,
#mx_contextmenu .menuLinkDisabled img {
	margin-right: 5px;
}
#mx_contextmenu .menuLink img,
#mx_contextmenu .menuLinkDisabled img {
	opacity: .3;
	filter: alpha(opacity=30);
}
#mx_contextmenu .menuLink:hover img {
	opacity: 1;
	filter: alpha(opacity=100);
}

#mx_contextmenu #nameHolder {
	color: #fff;
	text-align: left;
	cursor: default;
	font-weight: bold;
	padding: 6px 4px;
	margin-bottom: 3px;
	background-color: #86939E;
	background-image:url(images/misc/contextmenubg.png);
	background-repeat:repeat-x;
}
#mx_contextmenu .seperator {
	font-size: 0;
	height: 1px;
	background-color: silver;
	overflow: hidden;
	margin: 3px 1px 3px 28px;
}

	.rtl #mx_contextmenu .menuLink {
	    padding: 3px 2px 3px 16px; }
	.rtl #mx_contextmenu .menuLink:hover,
	.rtl #mx_contextmenu .menuLinkDisabled {
	    padding: 2px 1px 2px 15px;}
	.rtl #mx_contextmenu .menuLink img,
	.rtl #mx_contextmenu .menuLink:hover img,
	.rtl #mx_contextmenu .menuLinkDisabled img {
		margin-right: 8px; }
	.rtl #mx_contextmenu #nameHolder {
	    text-align: right;
	}
	.rtl #mx_contextmenu .seperator {
	    margin: 3px 28px 3px 1px;
	}


/* -------------------------[ Settings Table ]--- */
.settings {
	width: 600px;
}
.settings tr {
	width: 100% !important;
}
.settings td, .settings th {
	background: transparent;
}
.settings th {
	width: 200px !important;
	text-align: left;
	color: #555;
	font-size: inherit;
}
	.rtl .settings th {text-align: right;}
.filelist td {
	border-bottom: 1px solid #C2C3CF;
}
/* -------------------------[ Tabs ]--- */
.dynamic-tab-pane-control.tab-pane {
	position: relative;
	width: 100%;
}
	.rtl .dynamic-tab-pane-control.tab-pane {
		direction: rtl;
	}
.dynamic-tab-pane-control .tab-row .tab {
	color: #313131;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	display: inline;
	margin: 3px -3px 1px 5px;
	float: left;
	padding: 2px 15px 3px;
	z-index: 1;
	position: relative;
	top: 0;
	background: #ececec;
	border: 1px solid #e0e0e0;
	border-radius : 2px 2px 0 0;
	-moz-border-radius : 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
}
	.rtl .dynamic-tab-pane-control .tab-row .tab {
	    margin: 3px 5px 1px -3px;
	    float: right;
	    padding: 2px 15px 3px;
	}

.dynamic-tab-pane-control .tab-row .tab.hover {
	color: #222;
	background: #fff;
	text-decoration: none;
}
.dynamic-tab-pane-control .tab-row .tab.selected {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #FFCC72 #C0C0C0 #FFFFFF #E0E0E0;
	border-style: solid;
	border-width: 1px;
	top: 0;
	z-index: 3;
}
.dynamic-tab-pane-control .tab-row .tab.selected span {
	color: #111;
}
.dynamic-tab-pane-control .tab-row .tab span {
	font-weight: bold;
	font-size: 12px;
	color: #999;
	text-decoration: none;
}
.dynamic-tab-pane-control .tab-page {
	clear: both;
	background: #fff;
	border-top: 1px solid #c0c0c0;
	z-index: 2;
	position: relative;
	top: -2px;
	padding: 10px;
}
	.rtl .dynamic-tab-pane-control .tab-page {
	    position: inherit;		/* critical adjustment for IE ul li Proper RTL demonstration */
	}
.dynamic-tab-pane-control .tab-row {
	z-index: 1;
	white-space: nowrap;
}
.dynamic-tab-pane-control ul {
	padding-left: 10px;
	padding-right: 10px;
}
.dynamic-tab-pane-control li {
	padding-left: 5px;
	padding-right: 5px;
}
/* -------------------------[ Tree buttons ]--- */
.treeButton {
	display: block;
	cursor: default;
	color: #333;
	border: 1px;
	border-bottom-color: #809c47;
	padding: 3px 5px;
	white-space: nowrap;
	vertical-align: middle;
}
.treeButton:hover {
	border: 1px solid #88939E;
	padding: 2px 4px;
	background: #fff;
}
.treeButtonDisabled {
	cursor: default;
	border: 1px solid #657587;
	padding: 2px 4px;
	color: #777;
	border-width: 0;
	opacity: .5;
	filter: alpha(opacity=50);
}
/* -------------------------[ Welcome Page ]--- */
a.hometblink, a.hometblink img {
	border: 0 !important;
	text-decoration: none !important;
}
.wm_button {
	float: left;
	margin: 0 6px 2px 5px;
	text-align: center;
}
	.rtl .wm_button {
	    float: right;
	    margin: 0 5px 2px 6px;
	}

/* -------------------------[ Welcome Page ]--- */
#mainActionPages {
	background: #f4f4f4 url(images/misc/mainbg.gif) repeat-x top;
}
.tab-page {
	border: 1px solid #e4e4e4;
}
.sectionBody .tab-page {
	border-width: 1px 0 0;
}
.tab strong {
    color:#EF1D1D;
}
/* -------------------------[ New sortable table class ]--- */
.sortabletable {
}
table.sortabletable {
border-collapse:collapse;
width:100%;
}
table.sortabletable td,table.sortabletable th {
border:1px solid #ccc;
padding:4px;
}
.sortabletable a {
}

.sortabletable thead tr {
	background-color: #86919e;
}
.sortabletable tr {
	background: #fff;
}
.sortabletable tr.even {
	background: #E9F0F3;
}
.sortabletable td, .sortabletable th {
	padding: 2px 5px;
	border-bottom: 1px solid #eee;
}
.sortabletable th {
	text-align: left;
	cursor: pointer;
	color: #f3f3f3;
}
	.rtl .sortabletable th {
		text-align: right;
	}
.sortabletable th a {
	text-decoration: none;
	color: #f3f3f3;
}
.sortabletable th:active {
	background: #ccc;
	padding: 3px 4px 1px 6px;
}
	.rtl .sortabletable th:active {
		padding: 3px 6px 1px 4px;
	}
/* -------------------------[ Pagination table ]--- */
#max-display-records {
	margin: 10px 0;
}
#pagination {
	margin: 10px 0;
}
#pagination ul {
	margin: 10px 0;
	display: inline;
}
#pagination li {
	list-style: none;
	display: inline;
	width: 15px;
	margin: 0 0 0 1px;
	padding:0;
}
#pagination li a {
	padding: 2px 5px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #333;
}
#pagination li.currentPage a, #pagination li a:hover {
	color: #333;
	border: 1px solid #999;
	background-color:#dddddd;
}

fieldset.tab-page {
	border: 1px solid #e4e4e4!important;
}
h2#edit_document_title {
	font-size: 15px;
	color: #f5f5f5;
	width: 100%;
	border-bottom: none;
	padding: 5px 10px;
}
fieldset#preview h2.tab {
	float: right;
}
/* -------------------------[ Action Buttons ]--- */
#actions {
	position: fixed;
	top: 10px;
	right: 0;
	z-index: 100;
	margin: 0;
	text-align: right;
}
.rtl #actions {
	left: 10px;
	text-align: left;
}
ul.actionButtons {
	margin: 2px 0 10px;
	padding: 3px 0; /* accommodate border on buttons - */
	background: none;
	width: auto;
	white-space: nowrap;
}
.actionButtons li {
	display: inline;
	list-style-type: none;
	margin-right: 5px;
	padding: 0;
}
.actionButtons img {
	vertical-align: top;
	margin-top: 1px;
}
.actionButtons a {
	color: #222c36;
	font-weight: bold;
	font-size: 12px;
	background: #c7ced2 url(images/misc/button-gradient.png) repeat-x top left;
	padding: 4px;
	white-space: nowrap;
	vertical-align: top;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-text-shadow: 1px 1px 0 #fff;
	-moz-text-shadow: 1px 1px 0 #fff;
	text-shadow: 1px 1px 0 #fff;
	border:1px solid #8ea4be;
	outline: none;
}
.actionButtons a:hover {
	background-position: bottom left;
	-webkit-box-shadow: 0 0 10px #b8c7d6;
	-moz-box-shadow: 0 0 10px #b8c7d6;
	box-shadow:  0 0 10px #b8c7d6;
	-webkit-transition: -webkit-box-shadow 0.2s linear;
}
.actionButtons a:active {
	background-color: #92aac4;
	background-position: bottom left;
	-webkit-box-shadow: 0 0 10px #b8c7d6;
	-moz-box-shadow: 0 0 10px #b8c7d6;
	box-shadow:  0 0 10px #b8c7d6;
}
.actionButtons a.disabled,
.actionButtons li.disabled a {
	border: 1px solid #c7ced2;
	color: #777;
    cursor:default;
}

.actionButtons a.disabled img,
.actionButtons li.disabled img{
    opacity: .3;
    filter: alpha(opacity=30);
}
.actionButtons a:hover.disabled,
.actionButtons li.disabled a:hover {
	background-position: top;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow:  none;
	-webkit-transition: none;
}
.actionButtons .plus{
    margin:0 2px 0 5px;
    color: #3b454f;
	font-weight: bold;
}
		/*
* Generic styles for all form elements
		*/
form#mutate dt,
form#mutate dd {
	margin-bottom: 10px;
	}
form#mutate dt label,
form#mutate dt h3.label {
	font-size: 12px;
	display: inline;
	float: left;
	width: 200px;
	color: #821517!important;
	font-weight: bold;
	}
form#mutate dd {
	margin-left: 210px;
}
form#mutate input.disabled {
	background-color: #f4f4f4 !important;
}

form#mutate select.inputBox,
form#mutate input
 {
	width: 300px;
}
form#mutate input.inputBox,
form#mutate textarea,
div.tmplvars input[type=text] {
	background: #fff url(images/misc/input-bg.gif) repeat-x top left;
}
form#mutate textarea.tv_textareamini {
	height: 100px;
	width: 300px;
	overflow-y: scroll;
}
form#mutate textarea.tv_textarea {
	height: 100px;
	width: 100%;
	overflow-y: scroll;
}

/*
* Styling for datepicker elements in settings and templavars
*/
form#mutate input.date,
form#mutate input.tvdate {
	margin-right: 10px;
}

/*
* Individual Styles for fieldset#settings_page_settings
*/
form#mutate fieldset#settings_page_settings input#pub_date,
form#mutate fieldset#settings_page_settings input#unpub_date {
	width: 150px;
}
form#mutate fieldset#settings_page_settings select {
	width: 155px;
}
/*
* Individual Styles for fieldset#meta_keywords
*/
form#mutate fieldset#meta_keywords {
}
form#mutate fieldset#meta_keywords {
}
form#mutate fieldset#meta_keywords select.inputBox {
	display: block;
	margin-bottom: 0;
}
form#mutate fieldset#meta_keywords dl.keywords {
	float: left;
	margin-right: 30px;
}
form#mutate fieldset#meta_keywords dl.metatags {
	float: left;
}
form#mutate fieldset#meta_keywords dl dt label {
	width: 100px;
}
form#mutate fieldset#meta_keywords dl dd {
	margin-left: 110px;
}
/*
* Individual Styles for fieldset#preview
*/
fieldset#preview iframe {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #f4f4f4;
}

/*
* Individual Styles for fieldset#document_content
*/

fieldset#document_content textarea#ta {
	width: 100%;
	height: 400px;
	font-size: 12px;
}

/*
* Individual Styles for fieldset#access_permissions
*/
fieldset#access_permissions dt label {
	width: 200px;
}
fieldset#access_permissions dd {
	margin-left: 210px;
}
fieldset#access_permissions dl dd ul li {
	list-style-type: none;
}

/* ppb:
* fieldset#settings_templvars
*/
fieldset#settings_templvars .tv_url_select {
	width: 70px;
	margin-right: 10px;
}
fieldset#settings_templvars .tv_url_input {
	width: 220px;
}
fieldset#settings_templvars dd.tvCheckBox label input,
fieldset#settings_templvars dd.tvRadioOptions label input {
	margin-right: 10px;
}
fieldset#settings_templvars .tv_date {
	width: 150px;
}
form#mutate select.tv_url_select {
	padding: 5px 3px;
}

/* ppb:
* Style mootools tooltips
*/

.custom-tip {
	color: #333;
	width: 175px;
	z-index: 13000;
	border: 1px solid #cccccc;
	background: #fff;
	padding: 5px;
}

.custom-title {
	font-weight: bold;
	font-size: 12px;
	margin: 0;
	color: #fff;
	padding: 6px 6px 4px;
	background: #758CA2 url(images/misc/tab.gif);
}

.custom-text {
	font-size: 12px;
	padding: 4px 8px 8px;
	background: #fff;
}
/* ppb:
* Some styling for legacy mode fieldsets
*/

fieldset.legacy {
	background: #fff;
	margin: 10px;
	padding: 10px;
	border: 1px solid #e4e4e4!important;
	position: relative;
	margin-bottom: 35px;
}

fieldset.legacy h2 {
	width: 100%;
	background: #f5f5f5;
	margin: -10px -10px 15px -10px;
	padding: 0 10px;
	border-bottom: 1px solid #e4e4e4!important;
}

/* -------------------------[ date picker ]--- */
input.DatePicker, #mutate input.DatePicker, #userPane input.DatePicker, #webUserPane input.DatePicker, input#datefrom.DatePicker, input#dateto.DatePicker {
	width: 150px;
	padding: 3px 3px 3px 24px;
	border: 1px solid #b4cde4;
	background: #fff url(images/icons/datenofocus.gif) no-repeat top left;
	ime-mode:disabled;
}
input:focus.DatePicker, #mutate input:focus.DatePicker, #userPane input:focus.DatePicker, #webUserPane input:focus.DatePicker, input#datefrom:focus.DatePicker, input#dateto:focus.DatePicker {
	background: #fffce9 url(images/icons/datefocus.gif) no-repeat top left;
	cursor:text;
}
.dp_container {
	position: relative;
	padding: 0;
	z-index: 500;
}
.dp_cal {
	background-color: #fff;
	border: 1px solid #0070bf;
	position: absolute;
	width: 177px;
	top: 24px;
	left: 0;
	margin: 0px 0px 3px 0px;
}
.dp_cal table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.dp_cal p {
	width: 177px;
}

#mutate .dp_cal input.cal_timeTextBox, .dp_cal input.cal_timeTextBox {
	display: block;
	text-align: center;
	width: 60px;
	margin: 0 auto;
	margin-top: 3px;
}

.dp_cal select {
	margin: 2px 3px;
	font-size: 12px;
}
.dp_cal select option {
	padding: 1px 3px;
}
.dp_cal th,
.dp_cal td {
	width: 14.2857%;
	text-align: center;
	font-size: 12px;
	padding: 2px 0;
}
.dp_cal th {
	border: solid #aad4f2;
	border-width: 1px 0;
	color: #797774;
	background: #daf2e6;
	font-weight: bold;
}
.dp_cal td {
	cursor: pointer;
}
.dp_cal thead th {
	background: #d9eefc;
}
.dp_cal td.dp_roll {
	color: #333;
	background: #fff6bf;
}
/* -------------------------[ must have this for the IE6 select box hiding ]--- */
.dp_hide {
	visibility: hidden;
}
.dp_empty {
	background: #eee;
}
.dp_today {
	background: #daf2e6;
}
.dp_selected {
	color: #fff;
	background: #328dcf;
}

/* System Alert Box
---------------------------------------------------------- */
.cbOverlay {background-color: #000;z-index: 50000;}
.cbContainer {padding:5px;background-color:white;z-index: 50000;}
.cbBox h3 {color:#000;background: #bee860 url(images/misc/fade.gif) repeat-x top;padding:5px;font-weight:bold;}
.cbBox p {margin:3px;}
.cbBox .cbButtons {text-align:center;}
.sysAlert {width: 500px;height: 330px;white-space: nowrap;overflow: auto;}


/* Custom */
/* normalize some td paddings */
#tabTemplate tbody td,
.sectionBody td,
.sectionBody th	{
	padding: 1px 5px;
    text-align:left;
	vertical-align: top;
}
.sectionBody .displayparams {
	margin-bottom: 3px;
	background-color: #eee;
	border-collapse: separate;
	border-spacing: 1px
}
.sectionBody .displayparams th, .sectionBody .displayparams td {
	padding: 2px 4px;
}
.sectionBody .displayparams thead td {
	border-top: none;
}
.sectionBody .permissiongroup input, .sectionBody .permissiongroups input {
	width: 200px;
}

/* modx-ja
---------------------------------------------------------- */
a#button7 {margin:7px 3px;border:1px solid #ccc;background-color:#eee;text-decoration:none;cursor:pointer;padding: 2px 4px;color:#333;}

td input.button {width:30px !important;cursor:pointer;border:1px solid #ccc; background-color:#f5f5f5;margin-left:5px; margin-bottom: 3px; padding:2px 5px;}

form#mutate input.text,
input.inputBox,
form#mutate input.imageField,
#displayparams input[type=text],
#displayparams select
{width:300px;}
form#mutate textarea.inputBox {width:300px;height:80px;}
form#mutate textarea {width:90%;height:240px;}
form#mutate textarea.textareamini {height:120px;}
form#mutate input.number,input.email {ime-mode:disabled;}
form#mutate input.number {width:60px !important;padding-right:10px;text-align:right;}
/*form#mutate div.tmplvars label {display:block;}*/

.phptextarea {font-family: 'Courier New','Courier', monospace;}
optgroup {font-style:normal;}

#mainpane table th {vertical-align:top;}
/*Refactor #4440*/
table.fields {border: 0px solid #fff;}
table.fields td {border: 0px solid #fff;}
#treeHolder span span, #treeHolder small { display: inline-block }