<!DOCTYPE html>
<!--[if lt IE 9]> <html lang="ru" class="lt-ie9"> <![endif]-->
<!--[if IE 9]><html lang="ru" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
{{meta_head}}
</head>
<body>
<div class="container">
    <div class="container-in">
	<!-- header -->
	<header>
		<div class="wrap clearfix">
			{{header_logo}}
			<div class="b-header-right">
				<div class="header-right__top clearfix">
					{{header_phone_and_search_phone}}
				</div>

				<!-- mainmenu -->
			{{static_elements\main_nav_menu}}
			</div>
		</div>
	</header><!-- END header -->
	<div id="page">
		<div class="wrap">
			<!-- breadcrumbs -->
			[[Helper\breadcrumbs]]

			<!-- content -->
			<div id="content">
				<h1 class="page-title">Результат поиска</h1>

				<div class="b-content">
					<div class="b-search-res">
						<form action="search.html" class="search-form">
							<input type="text" id="searchword-res" class="input-txt">
							<button type="submit" class="btn btn-search">Найти</button>
						</form>
						<p class="red">Ничего не найдено</p>
					</div>

				</div>
			</div><!-- END content -->
		</div><!-- END wrap -->
	</div><!-- END page -->

    </div>
	<!-- footer -->
	<footer>
		<div class="wrap clearfix">
			<div class="b-footer-left">
				{{static_elements\footer_contacts}}
			</div>
			<div class="b-footer-right">
				{{footer_copy}}
			</div>
		</div>
	</footer>
    </div>
</body>
</html>