<!DOCTYPE html>
<!--[if lt IE 9]> <html lang="ru" class="lt-ie9"> <![endif]-->
<!--[if IE 9]><html lang="ru" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
{{meta_head}}
</head>
<body>

<div class="container">
    <div class="container-in">

	<!-- header -->
	<header>
		<div class="wrap clearfix">
			{{header_logo}}
			<div class="b-header-right">
				<div class="header-right__top clearfix">
					{{header_phone_and_search_phone}}
				</div>

				<!-- mainmenu -->
			{{static_elements\main_nav_menu}}
			</div>
		</div>
	</header><!-- END header -->
	<div id="page">
		<!-- dark bg -->
		<div class="mainpage-dark">
			<div class="wrap">
				<!-- top slider -->
				<div class="b-topslider">
					[[content\slider]]

					<!-- arrows -->
					<div class="topslider-nav">
						<span class="topslider-prev"></span>
						<span class="topslider-next"></span>
					</div>
				</div><!-- END top slider -->

				<!-- row -->
				<div class="row-wrap--table">
					<!-- news slider -->
					<div class="b-mainpage-news">
						<h3>Последние новости</h3>
						<div class="newslider-wrap">

							[[content\frontpage_last_news]]
							<!-- arrows -->
							<div class="newslider-nav">
								<span class="newslider-prev"></span>
								<span class="newslider-next"></span>
							</div>
						</div>
					</div><!-- END news slider -->

					<!-- about -->
					<a href="[~2~]" class="b-mainpage-about">
						[*content*]
					</a>
				</div>

				<!-- row -->
				<div class="row mainpage-cols clearfix">
					<div class="mainpage-col-wrap">
						{{front_1_4_block}}
					</div>
					<div class="mainpage-col-wrap">
						{{front_2_4_block}}
					</div>
				</div>
			</div>
		</div><!-- END dark bg -->

		<!-- light bg -->
		<div class="mainpage-light">
			<div class="wrap">
				<!-- row -->
				<div class="row mainpage-cols clearfix">
					<div class="mainpage-col-wrap">
						{{front_3_4_block}}
					</div>
					<div class="mainpage-col-wrap">
						{{front_4_4_block}}
					</div>
				</div>

				<!-- row -->
				<div class="clearfix mainpage-bottom">
					<!-- subscribe -->
					<div class="b-mainpage-subs">
						<h4>Подпишитесь на новости и новинки товаров:</h4>
							<form action="/[~53~]" data-modx="ajax" method="POST">
							<div class="b-input">
				            	<input type="text" name="email" id="subs-email" class="input-txt" required email="email" placeholder="Введите электронную почту">
					            <button type="submit" class="btn btn-subs"></button>
				        	</div>
			        	</form>
					</div>

					<!-- vacancies -->
					<div class="b-mainpage-work clearfix">

						<div class="work-img">
							<!-- arrows -->
							<div class="workslider-nav">
								<span class="workslider-prev"></span>
								<span class="workslider-pager"></span>
								<span class="workslider-next"></span>
							</div>
						</div>

						[[content\list_vacansy_main]]

					</div>
				</div>
			</div>
		</div><!-- END light bg -->
	</div>

    </div>
	<!-- footer -->
	<footer>
		<div class="wrap clearfix">
			<div class="b-footer-left">
				{{static_elements\footer_contacts}}
			</div>
			<div class="b-footer-right">
				{{footer_copy}}
			</div>
		</div>
	</footer>
</div>
</body>
</html>