<!DOCTYPE html>
<!--[if lt IE 9]> <html lang="ru" class="lt-ie9"> <![endif]-->
<!--[if IE 9]><html lang="ru" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
{{meta_head}}
<script src="//api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
<script>
	/* maps */
	ymaps.ready(init);
	var myMap,
	    myPlacemark;

	function init(){
		changeMap(47.233137452214805,39.69649012764738);
	}

	function changeMap(x, y) {
		if(myMap){
			myMap.destroy();
		}

		myMap = new ymaps.Map("map", {
	        center: [x,y],
	        zoom: 16,
	        controls: ['zoomControl', 'typeSelector',  'fullscreenControl', 'geolocationControl']
	    });

	    myPlacemark = new ymaps.Placemark(myMap.getCenter(), { }, {
	        iconLayout: 'default#image',
	        iconImageHref: '/assets/templates/medstroy/images/marker.png',
	        iconImageSize: [28, 40],
	        iconImageOffset: [-3, -32]
	    });

	    myMap.geoObjects.add(myPlacemark);
	    myMap.behaviors.disable(['scrollZoom', 'drag']);
	}
</script>
</head>
<body>
<div class="container">
    <div class="container-in">
	<!-- header -->
	<header>
		<div class="wrap clearfix">
			{{header_logo}}
			<div class="b-header-right">
				<div class="header-right__top clearfix">
					{{header_phone_and_search_phone}}
				</div>

				<!-- mainmenu -->
			{{static_elements\main_nav_menu}}
			</div>
		</div>
	</header><!-- END header -->
	<div id="page" class="contact">
		<div class="wrap">
			<!-- breadcrumbs -->
			[[Helper\breadcrumbs]]

			<h1 class="page-title">Контактная информация</h1>
		</div>

		<!-- map -->
		<div class="b-map">
			<div id="map"></div>
		</div>

		<!-- content -->
		<div class="wrap">
			<div id="content">
				<div class="b-content clearfix">
					<div class="contact-form">
						<h3>Обратная связь</h3>
						<p class="ps"><span>*</span> Поля обязательные для заполнения</p>
						<form action="/[~52~]" id="contact-form" data-modx="ajax" method="POST">
							<div class="b-input">
								<label for="subs-fio" class="required">Представьтесь</label>
				            	<input type="text" name="fio" id="subs-fio" class="input-txt" required >
				        	</div>
				        	<div class="b-input-row clearfix">
				        		<div class="col">
				        			<div class="b-input">
				        				<label for="subs-phone">Телефон</label>
						            	<input type="text" name="phone" id="subs-phone" class="input-txt" >
						        	</div>
				        		</div>
				        		<div class="col">
				        			<div class="b-input">
				        				<label for="subs-email" class="required">E-mail</label>
						            	<input type="email" name="email" id="subs-email" class="input-txt" required email="email">
						        	</div>
				        		</div>
				        	</div>
				        	<div class="b-input">
								<label for="subs-message" class="required">Текст сообщения</label>
				            	<textarea id="subs-message" name="message" class="input-txt" required ></textarea>
				        	</div>
				        	<input type="submit" class="btn btn-red">
						</form>
					</div>
					<div class="contact-info">
						[[content\contacts_addresses]]
						</ul>
					</div>
				</div>
			</div><!-- END content -->
		</div><!-- END wrap -->
	</div><!-- END page -->

    </div>
	<!-- footer -->
	<footer>
		<div class="wrap clearfix">
			<div class="b-footer-left">
				{{static_elements\footer_contacts}}
			</div>
			<div class="b-footer-right">
				{{footer_copy}}
			</div>
		</div>
	</footer>
</div>
</body>
</html>