<!DOCTYPE html>
<!--[if lt IE 9]> <html lang="ru" class="lt-ie9"> <![endif]-->
<!--[if IE 9]><html lang="ru" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru">
<!--<![endif]-->
<head> 
{{meta_head}}
</head>
<body>
<div class="container">
    <div class="container-in">
	<!-- header -->
	<header>
		<div class="wrap clearfix">
			{{header_logo}}
			<div class="b-header-right">
				<div class="header-right__top clearfix">
					{{header_phone_and_search_phone}}
				</div>

				<!-- mainmenu -->
			{{static_elements\main_nav_menu}}
			</div>
		</div>
	</header><!-- END header -->
	<div id="page">
		<div class="wrap">
			<!-- breadcrumbs -->
			[[Helper\breadcrumbs]]

			<!-- content -->
			<div id="content">
				<ul class="catalog-menu">
					<li><a href="[~5~]">Категории</a></li><!--
					--><li class="current"><a href="[~4~]">Бренды</a></li>
				</ul>		

				<div class="b-catalog">
					<div class="brands-container">
						[[content\list_brands]]
					</div>
				</div>
			</div><!-- END content -->
		</div><!-- END wrap -->
	</div><!-- END page -->

    </div>
	<!-- footer -->
	<footer>
		<div class="wrap clearfix">
			<div class="b-footer-left">
				{{static_elements\footer_contacts}}
			</div>
			<div class="b-footer-right">
				{{footer_copy}}
			</div>
		</div>
	</footer>
</div>
</body>
</html>