<!DOCTYPE html>
<!--[if lt IE 9]> <html lang="ru" class="lt-ie9"> <![endif]-->
<!--[if IE 9]><html lang="ru" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
{{meta_head}}
</head>
<body>
<div class="container">
    <div class="container-in">
	<!-- header -->
	<header>
		<div class="wrap clearfix">
			{{header_logo}}
			<div class="b-header-right">
				<div class="header-right__top clearfix">
					{{header_phone_and_search_phone}}
				</div>

				<!-- mainmenu -->
			{{static_elements\main_nav_menu}}
			</div>
		</div>
	</header><!-- END header -->
	<div id="page">
		<div class="wrap">
			<!-- breadcrumbs -->
			[[Helper\breadcrumbs]]
		</div>

		<!-- content -->
		<div id="content" class="fullnews">
			<div class="wrap">
				<h1 class="page-title">[*pagetitle*]</h1>

				<div class="b-content clearfix">

					<!-- rightcol -->
					<aside class="rightcol">
						<h3>Другие новости</h3>
						[[content\sidebar_list_news]]
					</aside>

					<!-- text -->
					<div class="fullnews-content">
						<div class="row">

							<div class="fullnews__back">← <a href="[~[*parent*]~]">вернуться к новостям</a></div>
							<div class="fullnews__date">[[aDate? &date2=`[*news_date*]` &unixtime=`1` &outFormat=`%e% %m%  %y%` &date=`[*pub_date*]`]]</div>
						</div>
						<div class="fullnews__img"><img src="[!qThumb? &input=`[*item_image*]`, &options=`w=706`!]" alt="[*e.pagetitle*]"></div>
						<div class="fullnews__text">
							[*content*]
						</div>

						<div class="fullnews__back-bottom">← <a href="[~[*parent*]~]">вернуться к новостям</a></div>
					</div>
				</div>
			</div>
		</div><!-- END content -->
		</div><!-- END wrap -->
	</div><!-- END page -->

</div>
	<!-- footer -->
	<footer>
		<div class="wrap clearfix">
			<div class="b-footer-left">
				{{static_elements\footer_contacts}}
			</div>
			<div class="b-footer-right">
				{{footer_copy}}
			</div>
		</div>
	</footer>
</div>
</body>
</html>