<!DOCTYPE html>
<!--[if lt IE 9]> <html lang="ru" class="lt-ie9"> <![endif]-->
<!--[if IE 9]><html lang="ru" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
{{meta_head}}
</head>
<body>
<div class="container">
    <div class="container-in">
	<!-- header -->
	<header>
		<div class="wrap clearfix">
			{{header_logo}}
			<div class="b-header-right">
				<div class="header-right__top clearfix">
					{{header_phone_and_search_phone}}
				</div>

				<!-- mainmenu -->
			{{static_elements\main_nav_menu}}
			</div>
		</div>
	</header><!-- END header -->
	<div id="page">
		<div class="wrap" id="crumbs">
			<!-- breadcrumbs -->
			[[Helper\breadcrumbs]]
		</div><!-- END wrap -->

		<!-- content -->
		<div id="content" class="tabs-wrap">
			<!-- company menu -->
			<div class="wrap">
				<ul class="sub-menu">
					<li><a href="[~2~]" data-modx="tab">О компании</a></li>
					<li><a href="[~42~]" data-modx="tab">Новости</a></li>
					<li class="active"><a href="[~43~]" data-modx="tab">Вакансии</a></li>
				</ul>
			</div>

			<!-- tab vacancy -->
			<div class="tab" id="ajax-tab">
				<div id="vacancy">
					<img src="[[qThumb? &input=`[*item_image*]`, &options=`w=1349h=262`]]" alt="[*pagetitle*]" class="tab__imgbg">
					<div class="wrap tab-title">
						<h1 class="page-title">[*pagetitle*]</h1>
					</div>

					<div class="company-row clearfix">
						<div class="company-box company-box--left company-box--b">
							<div class="company-box__inside">
								[*content*]
							</div>
						</div>
						<div class="company-box company-box--right company-box--red">
							<div class="company-box__inside">
								[*second_block*]
							</div>
						</div>
					</div>

					[[content\list_vacansy]]
				</div>
			</div><!-- END tab vacancy -->

		</div><!-- END content -->

	</div><!-- END page -->

    </div>
	<!-- footer -->
	<footer>
		<div class="wrap clearfix">
			<div class="b-footer-left">
				{{static_elements\footer_contacts}}
			</div>
			<div class="b-footer-right">
				{{footer_copy}}
			</div>
		</div>
	</footer>
    </div>

</body>
</html>