<!DOCTYPE html>
<!--[if lt IE 9]> <html lang="ru" class="lt-ie9"> <![endif]-->
<!--[if IE 9]><html lang="ru" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
{{meta_head}}
</head>
<body>
<div class="container">
    <div class="container-in">
	<!-- header -->
	<header>
		<div class="wrap clearfix">
			{{header_logo}}
			<div class="b-header-right">
				<div class="header-right__top clearfix">
					{{header_phone_and_search_phone}}
				</div>

				<!-- mainmenu -->
			{{static_elements\main_nav_menu}}
			</div>
		</div>
	</header><!-- END header -->
	<div id="page" class="partners-page">
		<div class="wrap">
			<!-- breadcrumbs -->
			[[Helper\breadcrumbs]]
		</div><!-- END wrap -->

		<!-- content -->
		<div id="content">
			<div class="b-content clearfix">
				<div class="partners-info">
					<div class="partners-info__inside">
						<h1 class="page-title">[*pagetitle*]</h1>
						[*content*]
					</div>
				</div>
				<div class="partners-list">
					<div class="partners-list__inside clearfix">
						[[content\list_partners]]
					</div>
				</div>
			</div>
		</div><!-- END content -->

	</div><!-- END page -->

    </div>
	<!-- footer -->
	<footer>
		<div class="wrap clearfix">
			<div class="b-footer-left">
				{{static_elements\footer_contacts}}
			</div>
			<div class="b-footer-right">
				{{footer_copy}}
			</div>
		</div>
	</footer>
</div>
</body>
</html>