<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
[[SEO\MetaGenerator]]
 [[MinifyX?
	&outFolder=`assets/templates/`
	&outJS=`v1.min.js`
	&outCSS=`v1.min.css`
	&CSSfile=`assets/templates/medstroy/css/style.css,assets/templates/medstroy/css/custom.css`
	&JSfile=`assets/templates/medstroy/js/plugins/jquery.placeholder.min.js,
			assets/templates/medstroy/js/plugins/jquery.autocolumnlist.js,
			assets/templates/medstroy/js/plugins/jquery.bxslider.min.js,
			assets/js/jquery.maskedinput.min.js,
			assets/js/fancybox/jquery.fancybox.pack.js,
			assets/js/validate/jquery.validate.min.js,
			assets/js/validate/validate.ru.js,
			assets/js/AN/jHelper.js,
			assets/js/AN/jquery.dataSelector.js,
			assets/js/AN/jquery.dataSerialize.js,
			assets/js/AN/ANMsg.js,
			assets/js/AN/sender.js,
			assets/js/AN/validatorConfig.js,
			assets/templates/medstroy/js/custom.js,
			assets/templates/medstroy/js/main.js`
	&jsCompress=`1`
	&cssCompress=`1`
]]
<link type="text/css" rel="stylesheet" href="/assets/templates/v1.min.css">
<script src="assets/templates/medstroy/js/plugins/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/assets/templates/v1.min.js"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
    <script src="assets/templates/medstroy/js/plugins/html5shiv.min.js"></script>
    <script src="assets/templates/medstroy/js/plugins/respond.min.js"></script>
    <![endif]-->
<link rel="shortcut icon" href="assets/templates/medstroy/favicon.ico">