<link rel="stylesheet" type="text/css" href="/assets/modules/Subscribers/public/init.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"
        charset="utf-8"></script>
<script>
    $.URLAction = {
        saveValue: "<?=$tplClass->makeUrl('saveValue');?>",
        checkUniq: "<?=$tplClass->makeUrl('checkUniq');?>",
        getValue: "<?=$tplClass->makeUrl('getValue');?>",
        csvUpload: "<?=$tplClass->makeUrl('csv', array('mode'=>'upload'));?>"
    };
    jQuery.noConflict();
</script>

<script src="/assets/js/jeditable/jquery.jeditable.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/assets/modules/Subscribers/public/init.js" type="text/javascript" charset="utf-8"></script>

<div id="actions">
    <ul class="actionButtons">
        <? if($tplClass->getParam('method', $_GET)!=''): ?>
        <?=$tplClass->showBody('action', array('id'=>'prevBtn', 'href'=>$tplClass->makeUrl('list'),
        'title'=>'Вернуться', 'icon'=>"media/style/{$manager_theme}/images/icons/prev.gif")); ?>
        <? endif; ?>
        <?=$tplClass->showBody('action', array('id'=>'closeBtn', 'href'=>$modx->getManagerPath().'?a=106',
        'title'=>'Закрыть', 'icon'=>"media/style/{$manager_theme}/images/icons/stop.png")); ?>
    </ul>
</div>
<h1><?=$tplClass->getParam('name', $content)?></h1>

<div class="section">
    <div class="sectionHeader">Список подписчиков</div>
    <div class="sectionBody" style="padding:10px 20px;">
        <div id="ajaxTable"></div>
    </div>
</div>

<div id="logBlock"><?=$tplClass->showBody('log', array('log'=> $tplClass->getParam('log', $tplParams)));?></div>

<div id="legend"><?=$tplClass->showBody('legend');?></div>

<?=$tplClass->showBody('footer');?>

<p style="text-align:center">
    <small><strong>Всего подписчиков</strong>: <?=\Subscribers\Helper::count();?></small>
</p>